/*-----------------------------------------------------------------------------------------
# 코코넛 메인
-----------------------------------------------------------------------------------------*/
.bodyWrap{
	/* margin-top:7.5rem; */
	
	width:100%;
	    /* height: 100vh; */
	
	/* height:200rem; */
	
	position:relative;
	padding-left:30rem;
	padding-top:6.4rem;
	z-index:5;
}
.contentInnerWrap {
    padding: 6rem 8rem 10rem 8rem;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.pageH1_type01{
	display:block;
	margin-bottom:4rem;
}
.pageH1_type01 h1 {
    display: block;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5.041rem;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1F1F;
}
.pageH1_type01 h1 span{
	font-weight: 700;
}

.main_status_board{
	width:100%;
	min-height:20rem;
	position:relative;
	background: #FFFFFF;
	border: 1px solid #E9EBEE;
	padding:3rem;
	box-shadow: 0px 3px 4px rgba(184, 184, 184, 0.1);
	border-radius: 1rem;
}
.main_status_board .board_title{
	display:block;
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 2.6rem;
	letter-spacing: 0em;
	text-align: left;
	color:#3E3E3E;
}


.main_sb_cardBox{
	text-align: left;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0rem 0 0 0;
}
.main_sb_card{
    /* float: left; */
    /* text-align: left; */
	/* width: calc(33.333333333% - 1.333rem); */
    /* position: relative; */
    /* display: inline-block; */
    /* list-style: none; */
    /* margin: 2rem 2rem 0rem 0rem; */
	
	min-height:20rem;
	position:relative;
	background: #FFFFFF;
	border: 1px solid #E9EBEE;
	padding:3rem;
	box-shadow: 0px 3px 4px rgba(184, 184, 184, 0.1);
	border-radius: 1rem;
}
.main_sb_card:nth-child(3){
	margin: 2rem 0rem 0rem 0rem;
}
.main_sb_card:nth-child(6){
	margin: 2rem 0rem 0rem 0rem;
}

.msbTitle{
	display:block;
}
.msbTitle a {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: #444;
    align-items: center;
    justify-content: flex-start;
}
.msbTitle a span{
	margin-left:0.8rem;
	display:inline-block;
	width:1.8rem;
	height:1.8rem;
	background: url(../img/common/msbTitle_arrow.png) no-repeat center/cover;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
     text-align: left;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0rem 0 0 0;
}
.column:nth-child(3){
	margin: 2rem 0rem 0rem 0rem;
}
.column:nth-child(6){
	margin: 2rem 0rem 0rem 0rem;
}
.column {
	border-radius: 1rem;
	float: left;
    text-align: left;
    width: calc(33.33333333333% - 1.333rem);
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 2rem 2rem 0rem 0rem;
    position: relative;
    background: #FFFFFF;
}

.column.dragElem {
  /* opacity: 0.4; */
}
.column.over {
  border: 2px dashed #00C389;
  border-radius:1rem;
  /* border-top: 2px solid blue; */
}

@media (max-width: 1700px) {
	.contentInnerWrap {
		padding: 6rem 6rem 10rem 6rem;
	}
}
