
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* ::::::::======== join ========:::::::: */

#joinWrap {width:100%; height:auto; position:relative;}
.joinCont {width:100%; height:auto; min-height: 100vh; display:flex;}
.joinBg {width: 67.5%; background: #ECF1F0;}
.joinContArea {
	width: 33.334%;
	height: auto;
	background: #fff;
	position: relative;
	padding: 10rem 10rem 7rem;
	min-width:64rem;
}

/* ::::::::======== 로그인 Start ~ ========:::::::: */

.login .joinContArea  {
	display: flex;
	flex-direction: column;
	padding: 18rem 13rem 7rem;
	justify-content: space-between;
}

.j_logo {width:100%; max-width:23.7rem; height:5rem; margin:0 auto;}
.j_logo img {width:100%; height:auto;}
.j_logotxt {
	font-family: Pretendard, sans-serif;
	color:#888;
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 2.6rem;
	letter-spacing: 0;
	text-align:center;
	margin-top:2.4rem;
}

.j_inputArea {margin-top:8rem;}
.input-field {position:relative;}

.joinContBox input[type="text"], .joinContBox input[type="password"] {
	width: 100%;
	padding: 2.3rem 0;
	position: relative;
	box-sizing: border-box;
	border-bottom:1px solid #EEE;

	font-family: Nunito Sans, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.7rem;
	letter-spacing: 0;
	text-align: left;
}

.joinContBox input:focus {box-sizing: border-box; border-bottom:1px solid #00C389;}

.input-field label {
	font-family: Pretendard, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	letter-spacing: 0;
	text-align: left;
	color: #BBBBBB;
}

.j_inputArea .input-field label span {
	left: 0;
	top: 50%;
	position: absolute;
	transition: all 0.38s;
	transform: translateY(-50%);
}
.input-field input:focus + label span, .input-field input:valid + label span {
	top: 0;
	color: #9A9A9A;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.8rem;
	transform: translateY(-100%);
}
.input-field input:-webkit-autofill,
.input-field input:-webkit-autofill:hover,
.input-field input:-webkit-autofill:focus,
.input-field input:-webkit-autofill:active {
	-webkit-text-fill-color: #000;
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
	box-shadow: 0 0 0 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}
.input-field.filled span {
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	position: absolute!important;
}

.mt30 {margin-top:3rem;}
.mt16 {margin-top:1.6rem;}

.id_re {display: flex; align-items: center;}
.checkArea {
	display: flex;
	margin-top:3rem;
	align-items: center;
	justify-content: space-between;
}

.id_re input[type="checkbox"] {
	margin: 0;
	width: 1.8rem;
	height: 1.8rem;
	position:relative;
}
.id_re input[type="checkbox"]::before {
	content: '';
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	background:url(/public/assets/images/join/uncheckBox.jpg) no-repeat center / cover;
}
.id_re input[type="checkbox"]:checked:after  {
	content: '';
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	background:url(/public/assets/images/join/checkBox.jpg) no-repeat center / cover;
}
.id_re label p {
	margin-left:0.8rem;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.8rem;
	letter-spacing: 0;
	text-align: left;
	color:#666;
	cursor:pointer;
}
.go_find {
	cursor: pointer;
	font-family: Pretendard, sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.8rem;
	color:#9A9A9A;
}
.join_bottom {margin-top:6rem;}
.join_bottom button {
	width:100%;
	padding:2.3rem 0;
	background: #00C389;
	font-family: Pretendard, sans-serif;
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0;
	text-align: center;
	color:#fff;
	border-radius: 10px;
}
.joinmember {text-align: center;}
.joinmember a, .joinmember span {
	font-family: Pretendard, sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: #9A9A9A;
	text-align:center;
}
.joinmember span {color:#00C389; padding:0 2.1rem 0 0.6rem; position:relative;}
.joinmember span::before {
	content: '';
	right: 0;
	top: 50%;
	width: 1.9rem;
	height: 1.9rem;
	position: absolute;
	transform: translateY(-50%);
	background: url(/public/assets/images/join/joinArrow.png) no-repeat center / cover;
}
/* ::::::::======== // ~ 로그인 END ========:::::::: */


/* ::::::::======== 이메일 찾기 Start ~ ========:::::::: */

.f_type {display:flex;}
.f_type li {border-bottom: 3px solid #EBEDEF;cursor: pointer;}
.f_type li p {
	font-family: Pretendard, sans-serif;
	font-size: 2.6rem;
	font-weight: 400;
	line-height: 3.2rem;
	letter-spacing: 0;
	text-align: center;
	color:#9A9A9A;
	padding:2.4rem 3.9rem 2.7rem 3.9rem;
}
.f_type li.active {border-bottom: 3px solid #444;}
.f_type li.active p {font-weight:700; color:#444444;}

.findContArea {margin-top:6rem;}
.findEx {font-size: 2.2rem; font-weight: 500; line-height: 3.2rem; color:#444;}

.f_emailImg {width: 100%; max-width: 26rem; height: 26rem; margin: 6rem auto 0;}
.f_emailImg img {width:100%; height:auto;}

.find_bottom {
	width:100%;
	padding:2.3rem 0;
	background: #00C389;
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0;
	text-align: center;
	color:#fff;
	border-radius: 10px;
	margin-top:6rem;
}

.find_bottom:hover {
	background: #00BA83;
	/* box-shadow: 6px 8px 20px rgba(0, 189, 133, 0.3); */
}

.findBox {
	width: 100%;
	padding: 2.6rem 7rem;
	background: #F4F5F6;
	border-radius: 10px;
}
.findBox .user_email {
	font-family: Nunito Sans, sans-serif;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 2.6rem;
	text-align: center;
	color:#444;
}

.findBoxEx {
	color:#666;
	margin-top:3rem;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 2.8rem;
	text-align: center;
}

a.go_fpassword {
	cursor: pointer;
	width: 100%;
	display: flex;
	margin-top:3.2rem;
	justify-content: center;
}

.go_fpassword p {
	color: #9A9A9A;
	padding: 0 2.1rem 0 0.6rem;
	position: relative;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.8rem;
}

.go_fpassword p::before {
	content: '';
	right: 0;
	top: 50%;
	width: 1.8rem;
	height: 1.8rem;
	position: absolute;
	transform: translateY(-50%);
	background: url(/public/assets/images/join/joinArrow_gray.png) no-repeat center / cover;
}

/* ::::::::======== // ~ 이메일 찾기 END ========:::::::: */

/* ::::::::======== 비밀번호 찾기 Start ~ ========:::::::: */
.find_passoword .f_emailImg {margin: 4rem auto 0;}
.find_passoword .j_inputArea {margin-top: 1.8rem;}
.notxt {
	display: block;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.7rem;
	padding-left:1.9rem;
	padding-top:0.8rem;
	color:#FC5757;
	position:relative;
}
.notxt::before {
	content:'';
	width:1.5rem;
	height:1.5rem;
	position:absolute;
	left:0;
	top:inherit;
	transform:unset;
	background: url(/public/assets/images/join/red_check.png) no-repeat center / cover;
}
ul.pswdEx {display: flex;}
ul.pswdEx li {margin-right:1.2rem;}
ul.pswdEx li:last-child {margin-right:0;}
ul.pswdEx .notxt {padding-top:0; margin-top:1rem;}

.notxt.pass {color:#00C389!important;}
.notxt.pass::before {background: url(/public/assets/images/join/pass_check.png) no-repeat center / cover!important;}

.notxt.fail {color: #FC5757!important;}
.notxt.fail::before {background: url(/public/assets/images/join/red_check.png) no-repeat center / cover!important;}

.notxt.not_work {
	display: none;
}

.mt20 {margin-top:2rem;}
.reset_passoword .j_inputArea {margin-top: 6rem;}
.join_bottom.not_work button{background: #E2E5EA;}
/* .join_bottom.not_work button:hover {box-shadow:unset;} */
/* ::::::::======== // ~ 비밀번호 찾기  END ========:::::::: */

/* ::::::::======== 회원가입 Start ~ ========:::::::: */
.join_membership .joinmTitle {
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 5rem;
	margin-bottom: 60px;
}
p.joinmTitle {
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 5rem;
	margin-bottom: 6rem;
}
.join_member .j_inputArea {margin-top:4rem;}
.precessbar1, .precessbar2, .precessbar3 {
	width: 100%;
	display: block;
	height: 0.5rem;
	background: #f6f6f6;
	border-radius: 0.3rem;
	position:relative;
}
.precessbar1::before {
	content:'';
	top:0;
	left:0;
	height: 100%;
	background:#00C389;
	position:absolute;
	width: 33%;
	border-radius: 0.3rem;
}
.precessbar2::before {
	content:'';
	top:0;
	left:0;
	height: 100%;
	background:#00C389;
	position:absolute;
	width: 66%;
	border-radius: 0.3rem;
}
.precessbar3::before {
	content:'';
	top:0;
	left:0;
	height: 100%;
	background:#00C389;
	position:absolute;
	width: 100%;
	border-radius: 0.3rem;
}
/*.join_ip.precessbar::before {width:66.6666%;}*/
/*.input_join.precessbar::before {width:66.666%;}*/
.input-field input::placeholder {
	font-family: Pretendard, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	color:#BBB;
}
/*.join_membership .precessbar::before {width:33.333%;}*/
.join_membership .j_inputArea {margin-top:6rem;}

.emailBtn, .emailcodeBtn {
	color: #FFF;
	font-family: Pretendard, sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.9rem;
	letter-spacing: 0;
	text-align: left;
	padding: 1rem 1.2rem;
	background: #00C389;
	border-radius: 0.6rem;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor:pointer;
}

.email_codeCount {
	top: 50%;
	left: 61.5%;
	color: #00C389;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.9rem;
	position: absolute;
	margin-right: 1.6rem;
	transform: translateY(-100%);
}
.emailcodeBtn {top: 50%; transform: translateY(-80%);}
.j_password {display: flex; align-items: center;}
.j_password li {margin-right:1.12rem;}
.j_password li .notxt{color:#9A9A9A;}
.j_password li .notxt::before{background: url(/public/assets/images/join/gray_check.png) no-repeat center / cover;}
.join_membership .join_bottom {margin-top:4rem;}

/* ::::::::======== // ~ 회원가입 END ========:::::::: */


/* 20230410 CSS 수정 */
.joinContArea {padding-top:8rem;}
.login .joinContArea {padding:14rem 13rem 7rem;}
.join_bottom button:hover {background: #00BA83;}

.joinBg {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ECF1F0 url(/public/assets/images/join/join_right_bg.jpg) no-repeat center;
}
.joinBg img {width: 100%; height: auto;}

.findContArea {margin-top: 8rem;}
.findEx {font-size: 1.8rem; line-height: 2.8rem;}

.findContArea {margin-top: 10rem;}
.find_bottom {margin-top: 8rem;}

.find_email .find_bottom {margin-top:6rem;}

.find_password {display: flex; margin-top: 3.2rem; justify-content: center;}
.find_password p {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #9a9a9a;
	position:relative;
	display: inline-block;
	padding-right: 2rem;
	text-align: center;
}
.find_password p::before {
	right: 0;
	top: 50%;
	content: '';
	width: 1.8rem;
	height: 1.8rem;
	position: absolute;
	transform: translateY(-50%);
	background: url(/public/assets/images/join/joinArrow_gray.png) no-repeat center / cover;
}

.findContArea {margin-top: 6rem;}
.f_type {display: flex; justify-content: center;}

#join_finWrap .findContArea {margin-top: 2.4rem;}
#join_finWrap .find_bottom {margin-top: 6rem;}
#join_finWrap .findEx {font-size: 2rem; font-weight: 500; line-height: 3rem; text-align: center;}
#join_finWrap .f_emailImg {max-width: 34rem; height: 29rem;}

.join_bottom.not_work button:hover {background: #E2E5EA;}




/* // 20230410 CSS 수정 */

