html {font-size:10px; font-family: 'Pretendard', sans-serif; color:#222;}

#serviceHeader, .navMenu {display:none;}

div {box-sizing:border-box; transition:all 0.3s ease-in-out;}
.mo_only, .mo_br {display:none!important;}
@media (max-width:1300px) and (min-width:992px) {html {font-size:51%;}}
@media (max-width:991px) {
	.pc_only, .pc_br {display:none!important;}
	.mo_only, .mo_br {display:block!important;}
}

/* ::::::::: header START ::::::::: */
header {
    top: 0;
	left: 0;
    width: 100%;
    z-index: 400;
	background: none;
	position: fixed;
    transition: all 0.3s ease-in-out;
}
header:hover {background:#fff;}
header.back {left: 0; top: 0; z-index: 500; position: fixed;}
header.change {background: #fff;}
.header_inner {
    width: 100%;
    padding: 1.7rem 2rem;
    display: flex;
    margin: 0 auto;
    max-width: 180rem;
    align-items: center;
    justify-content: space-between;
	position:relative;
}
.logo {width:auto; height:2.4rem; max-height:2.4rem;}
.logo img {width:auto; height:100%;}

.h_page	{font-weight: 500; font-size: 1.8rem; line-height: 2.2rem;}
.h_page:hover {color:#FF783E;}
.h_page a {display: flex; align-items: center;}
.h_page figure {width:1.6rem; height:auto; padding-left: 0.8rem;}
.h_page figure img {width:100%; height:auto;}

.gnb {position: relative; padding:1rem 0;}
.gnb ul {display:flex;}
.gnb ul li {font-size: 1.8rem; font-weight: 500; line-height: 2.6rem; padding-right:6rem;}
.gnb ul li:last-child {padding-right:0;}
.gnb ul a:hover {color:#00C389;}
.gnb_color {color:#00C389!important;}

.gnb ul li.on_nav {color:#00C389;}

.loginArea ul {display:flex; align-items: center;}
.loginArea ul li {font-size: 1.7rem; font-weight: 500; line-height: 2.6rem; color:#888; padding-right:2rem;}
.loginArea ul li:last-child {padding-right:0;}

.loginArea ul li.free {color:#FFF; padding:1rem 2.8rem; background: #00C389; border-radius: 0.6rem;}


/* +++ // 모바일 메뉴 START ~+++ */
.side_menu_Btn, .side_cont_wrap {display:none;}
.side_menu_Btn span {
    right: 0;
	width: 100%;
    height: 0.2rem;
    background: #000;
    position: absolute;
	border-radius: 2px;
    transition: all 0.3s;
}
.side_menu_Btn span.black {background:#222;}
.side_menu_Btn span:nth-child(1) {top:0.8rem; width:100%;}
.side_menu_Btn span:nth-child(2) {top:1.4rem; width:64%; left:0;}
.side_menu_Btn span:nth-child(3) {bottom:0%; width:100%;}

.side_menu_Btn.fix span:nth-child(1) {top:1rem; transform:rotateZ(-45deg);}
.side_menu_Btn.fix span:nth-child(2) {opacity:0;}
.side_menu_Btn.fix span:nth-child(3) {bottom: 1rem;transform: rotateZ(45deg); right:0; }

.side {
	background: #FFF;
	height: 100vh;
	width: 66.7%;
	position: fixed;
	top: 0; right:-100%;
	z-index:500;
	transition:all 0.8s ease-in-out;
}
.is_active .side {right: 0;box-shadow: 0 0 110px rgb(0 0 0 / 50%);}
.side_menu_Btn.fix {position: absolute; right:2.1rem; top: 2.1rem;}
.side_cont_inner {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
	padding: 7.8rem 2rem 0;
}
p.menu01_h {
	font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0.02em;
    text-align: left;
    color: #111;
}
li.menu01 {padding: 1.5rem 0;}
li.menu01:last-child {border-bottom:none;}

.side_menu_BG {
	top:0;
	opacity: 0;
	z-index:-10;
    width: 100%;
    height: 100vh;
	position: fixed;
    background: rgba(0,0,0,0.5);
	transition:all 0.8s ease-in-out;
}
.side_menu_BG.showBg { display:none; z-index: 490;opacity: 1;top:0;}

@media (max-width:991px) {
	.gnb {display:none;}
	.side_menu_Btn {display:block; height: 2.2rem; right: 0rem; width: 2.2rem; position:relative; top:0;}
	.header_inner {padding:2rem;}
	.side_menu_Btn, .side_cont_wrap {display:block;}
	.side_menu_BG.showBg {display:block;}
}
@media (max-width:767px) {
	.header_inner {padding:1.4rem 2rem;}
	.logo {height:2rem;}
	.side_cont_inner {width: 100%; height: 100%; padding: 0 2rem; padding: 2rem 2rem 0;}
}
/* +++ // ~ 모바일 메뉴 END +++ */
/* ::::::::: // header END ::::::::: */

/* ::::::::: Footer START ~ ::::::::: */
.footerInner {font-family: 'Pretendard'; width:100%; max-width:156rem; margin:0 auto; padding:0 2rem 0;}
.footerBox {padding:4rem 0 8rem 0; border-top:1px solid #555555;}
.footerBox ul {padding-bottom:4rem;}
.footerBox li {list-style: none; display: flex;}
.footerBox li:nth-child(2) {padding:1rem 0rem;}
.footerBox li p {
	font-family: Pretendard;
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 2.1rem;
	color:#555;
	padding-left:2.5rem;
	position:relative;
}
.footerBox li p::before {
    content: '';
    width: 1px;
    height: 1.4rem;
    background: #999999;
    position: absolute;
    right: -1.2rem;
    top: 50%;
    transform: translateY(-50%);
}
.footerBox li p:first-child {padding-left:0;}
.footerBox li p:last-child::before {display:none;}
.copy {
	font-family: Pretendard;
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 2.1rem;
	letter-spacing: 0px;
	text-align: left;
	color:#555;
}

@media (max-width:991px) {
	.footerBox {padding: 2.5rem 0 3.8rem 0; border-top: 1px solid #555555;}
	.footerBox li {list-style: none; display: flex; flex-direction: column;}
	.footerBox li:nth-child(2) {padding:1.6rem 0;}
	.footerBox li p {font-size: 1.3rem; line-height: 1.6rem; padding-left: 0rem; padding-bottom:0.6rem;}
	.footerBox li p:last-child {padding-bottom:0;}
	.footerBox li p::before {display:none;}
	.copy {font-size: 1.3rem; line-height: 2.2rem;}
}
/* ::::::::: // ~ Footer END ::::::::: */

