@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;700&display=swap');

.priceWrap {width:100%; height:auto;}
.priceTop {background:#F2FAF6;}
.priceInner {width:100%; max-width:98.4rem; margin:0 auto; padding:22rem 2rem 10rem;}
.pricTTileBox {text-align: center;}
.pr_gtitle {font-family: 'Outfit'; font-size: 1.8rem; font-weight: 600; line-height: 2.6rem; letter-spacing: 0.1em; color:#00C389;}
.pr_title {font-size: 5.4rem; font-weight: 700; line-height: 6.8rem; text-align: center; margin: 3rem 0 2rem 0;}
.pr_stxt {font-size: 2.6rem; font-weight: 400; line-height: 3.4rem;}
.pricTCont {width: 100%; display: flex; margin-top:10rem; justify-content: space-between;}
.pricTLeft, .pricTRight {background:#fff; padding:6rem 4rem; border-radius: 14px; width:calc(50% - 1.2rem); filter: drop-shadow(0px 0px 40px rgba(0, 195, 137, 0.1));}
.pc_titleBox {display: flex; align-items: center; flex-direction: column;}

.gtype {font-family: 'Outfit'; font-size: 2.4rem; font-weight: 700; line-height: 2.8rem; text-align: center; color:#00C389;}
.btype {font-size: 1.8rem; font-weight: 500; line-height: 2.2rem; text-align: center; margin-top:1rem;}
.pc_price {font-family: 'Outfit'; font-size: 6.2rem; font-weight: 700; line-height: 6.4rem; letter-spacing: 0em; text-align: center; margin:4rem 0 1.4rem;}
.pc_pricefree {font-size: 1.8rem; font-weight: 600; line-height: 2.4rem; letter-spacing: -0.02em; text-align: center; padding:1rem 2.4rem; background: #DEF7EB; border-radius: 99px; display: inline-block; color: #00B47E;}

ul.cus_list {margin-top: 3.4rem;}
ul.cus_list li {
	position:relative;
	font-family: Pretendard;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.1rem;
	letter-spacing: -0.01em;
	text-align: left;
	color:#666;
	padding:1.6rem 0 1.6rem 2.9rem;
	border-bottom:1px solid #EEE;
}
ul.cus_list li:last-child {border-bottom:none; padding-bottom:0;}
ul.cus_list li::before {
	content:'';
	left:0;
	top:50%;
	width:2.1rem;
	height:2.1rem;
	position:absolute;
	transform:translateY(-50%);
	background:url(/assets/images/main/price/cus_check_circle.png) no-repeat center / cover;
}
.pricTRight .pc_price {font-family: "Pretendard"; font-size: 2.4rem; font-weight: 700; line-height: 4.1rem; text-align: center; position:relative;}
.pricTRight .pc_price span {font-family: 'Outfit'; font-size: 6.2rem; font-weight: 700; line-height: 6.4rem; text-align: center; position:relative; padding-left:3.1rem;}
.pricTRight .pc_price span::before {
	content: '';
	top: 0;
	left: 0px;
	width: 26px;
	height: 64px;
	position: absolute;
	background: url(/assets/images/main/price/won_icon.png) no-repeat center / cover;
}
.won {position: absolute; left: 0; top: 0;}
.worklist {background:#fff;}
.worklist .priceInner {width:100%; margin:0 auto; max-width:124rem; padding:10rem 2rem;}
.worklistGroup {border: 1px solid #EEEEEE; border-radius: 1.2rem; padding: 5rem 3rem; display: flex;}

.wlBox {width:calc(100%/3); padding:1rem 5.8rem; border-right:1px solid #EEEEEE;}
.wlBox:last-child {border-right:none;}
.wlBox .workTitle {font-size: 2.6rem; font-weight: 600; line-height: 3rem; letter-spacing: -0.01em; text-align: left; color:#000; margin-bottom:4rem;}
.wlBox li {
	color: #666;
	text-align: left;
	font-size: 1.6rem;
	font-weight: 400;
	position: relative;
	line-height: 2.1rem;
	letter-spacing: -0.01em;
	border-bottom: 1px solid #EEE;
	padding: 1.6rem 0 1.6rem 2.1rem;
}
.wlBox li::before {
	content:'';
	top:50%;
	left:0;
	width:1.3rem;
	height:1.1rem;
	position:absolute;
	transform:translateY(-50%);
	background:url(/assets/images/main/price/green_check.png) no-repeat center / cover;
}
.wlBox li:last-child {border-bottom:none;}
.consultBox {
	display: flex;
	padding: 6rem;
	margin-top: 4rem;
	background: #E0F7F0;
	border-radius: 12px;
	align-items: center;
	justify-content: space-between;
}
.consultBox p {font-size: 3.4rem; font-weight: 700; line-height: 4rem;}
.consultBtn {margin-top:6rem; text-align:center;}
.consultBox .consultBtn {margin-top:0;}
.consultBtn p {
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 2rem;

	color:#fff;
	background: #00C389;
	padding:2rem 3.65rem;
	border-radius: 0.8rem;
	display: inline-block;
}
@media (max-width:991px) {
	.priceTop {background: url(/assets/images/main/price/priceTop_bg.jpg) no-repeat center / cover;}
	.priceInner {padding: 14rem 2.5rem 10rem;}
	.pc_price {font-size: 4rem; margin: 2rem 0 1rem; line-height: 4.6rem;}

	.consultBox p {font-weight: 600; font-size: 2.6rem; line-height: 3.4rem; text-align: center; position:relative;}

	.pr_title {font-size: 3.4rem; line-height: 4.8rem; margin: 2rem 0 2rem 0;}
	.pr_gtitle {font-size:1.4rem; line-height:1.8rem;}
	.pricTCont {margin-top:6rem;}

	ul.cus_list {margin-top: 3rem;}
	ul.cus_list li {font-size: 1.5rem; line-height: 2.1rem; letter-spacing: -0.01em; padding: 1.2rem 0 1.2rem 2.683rem; border-bottom: 1px solid #EEE;}

	.wlBox .workTitle {margin-bottom:1.2rem; font-size:2.6rem; line-height:3rem;}
	.wlBox {padding: 1rem 2.8rem;}
	.worklistGroup {padding: 0; border:none;}

	.pricTRight .pc_price span::before {width: 20px; height: 46px; left: -4px;}
}
@media (max-width:767px) {
	.pricTCont {margin-top: 5rem; flex-direction: column; justify-content: space-between;}
	.pr_title {margin: 1.4rem 0; font-size: 2.4rem; line-height: 3.2rem;}
	.pr_stxt {font-size: 2rem;}
	.pricTLeft, .pricTRight {width:100%; padding:3rem 2rem;}
	.pricTLeft {margin-bottom:2.4rem;}
	.worklistGroup {flex-direction: column;}

	.gtype {font-size: 2rem; line-height: 2.4rem;}
	.btype {margin-top:0.8rem; font-size:1.6rem; line-height:2rem;}

	.wlBox {padding: 0; width: 100%; border-right: none; margin-bottom: 4rem; padding-bottom: 0; border-bottom: none;}
	.wlBox:last-child {border-bottom: none; margin-bottom: 0; padding: 0;}
	.wlBox li {font-size:1.5rem; padding:1.2rem 0 1.2rem 2.2rem;}
	.wlBox li::before {width:1.3rem; height:1.1rem;}

	.consultBox {display: flex; margin-top: 4rem; padding: 6rem 3rem; background: #E0F7F0; border-radius: 12px; flex-direction: column; justify-content: space-between;}
	.consultBtn {margin-top: 1rem; line-height: 2rem;}
	.consultBox .consultBtn p::before {content: ''; width: 1.6rem; height: 1.6rem; background: url(/assets/images/main/price/tel_icon.png) no-repeat center / cover; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}

	.priceInner {padding:11rem 2.5rem 5rem;}
	.consultBox .consultBtn {margin-top: 3rem;}
	.consultBtn p {font-size: 1.6rem; padding:1.5rem;}
	.worklist .consultBtn p {padding: 2rem 2.6rem 2rem 0; font-size: 1.5rem; font-weight: 700; line-height: 1.8rem;}
	.worklist .priceInner {padding: 5rem 3rem;}
	.consultBtn {width: 100%; margin-top: 4rem; line-height: 2rem; background: #00C389; border-radius: 8px; text-align: center;}
	.pc_pricefree {font-size: 1.5rem; line-height: 1.8rem; padding: 0.8rem 1.6rem;}
	.pricTRight .pc_price {font-size: 1.8rem; line-height: 3.3rem;}
	.pricTRight .pc_price span {font-size: 4rem; padding-left: 2.4rem;}
}