@charset "utf-8";

 *{box-sizing:border-box;}
html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,address,blockquote,table,caption,tr,td,th,thead,tbody,form,fieldset,legend,header,nav,aside,section,article,main,footer,figure,figcaption {margin: 0; padding: 0;}

header,nav,aside,main,section,article,footer,figure {display: block;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
table {border-collapse: collapse;}
em,i,cite,address {font-style: normal;} /*이탤릭체로 표현되는 태그들의 기울기를 없앰*/
h1,h2,h3,h4,h5,h6,strong {font-weight: normal;} /*글자진하기를 모두 초기화*/

/*텍스트 블라인드*/
.blind {font-size: 0; line-height: 0; height: 0; overflow: hidden; text-indent: -9999px;}

/*float를 해제하는 클래스*/
.clear:before, .clear:after {clear:both; content: ''; display: block;}

html {font-size:10px; font-family: Pretendard, sans-serif; color:#222;}
div {box-sizing:border-box; transition:all 0.2s ease-in-out;}
.mo_only, .mo_br, .ph_only {display:none!important;}
@media (max-width:1300px) and (min-width:992px) {html {font-size:51%;}}
@media (max-width:991px) {
	.pc_only, .pc_br {display:none!important;}
	.mo_only, .mo_br {display:block!important;}
}
@media (max-width:767px) {
	.ph_only {display:block!important;}
	.ph_none {display:none!important;}
}

/*!* ::::::::: header START ::::::::: *!*/
.hupd {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 400;
	background: none;
	position: fixed;
	transition: all 0.3s ease-in-out;
}
.hupd:hover {background: #FFF;}
.hupd.back {left: 0; top: 0; z-index: 500; position: fixed;}

.header_inner {
	width: 100%;
	display: flex;
	margin: 0 auto;
	position:relative;
	max-width: 180rem;
	align-items: center;
	padding: 1.7rem 2rem;
	justify-content: space-between;
}
.hupd.down_header {top: -10%;}
.hupd.up_header {top: 0;}

.logo {width:auto; height:2.4rem; max-height:2.4rem;}
.logo img {width:auto; height:100%;}

.h_page	{font-weight: 500; font-size: 1.8rem; line-height: 2.2rem;}
.h_page:hover {color:#FF783E;}
.h_page a {display: flex; align-items: center;}
.h_page figure {width:1.6rem; height:auto; padding-left: 0.8rem;}
.h_page figure img {width:100%; height:auto;}

.gnb {position: relative; padding:1rem 0;}
.gnb ul {display:flex;}
.gnb ul li {font-size: 1.8rem; font-weight: 500; line-height: 2.6rem; padding-right:6rem;}
.gnb ul li:last-child {padding-right:0;}
.gnb ul a:hover {color:#00C389;}
.gnb_color {color:#00C389!important;}
.gnb ul li.on_nav {color:#00C389;}

.loginGroup {display: flex; align-items: center;}
.loginArea ul {display:flex; align-items: center;}
.loginArea ul li {font-size: 1.7rem; font-weight: 500; line-height: 2.6rem; color:#888; padding-right:2rem;}
.loginArea ul li:last-child {padding-right:0;}
.loginArea ul li.free {color:#FFF; padding:1rem 2.8rem; background: #00C389; border-radius: 0.6rem;}

/* +++ // 모바일 메뉴 START ~+++ */
.side_menu_Btn, .side_cont_wrap {display:none;}
.side_menu_Btn span {
	right: 0;
	width: 100%;
	height: 1px;
	background: #000;
	position: absolute;
	border-radius: 2px;
	transition: all 0.3s;
}
.side_menu_Btn span.black {background:#222;}
.side_menu_Btn span:nth-child(1) {top:0; width:100%;}
.side_menu_Btn span:nth-child(2) {top: 50%; width: 64%; left: 0;}
.side_menu_Btn span:nth-child(3) {bottom:0; width:100%;}

.side_menu_Btn.fix span:nth-child(1) {top:1rem; transform:rotateZ(-45deg);}
.side_menu_Btn.fix span:nth-child(2) {opacity:0;}
.side_menu_Btn.fix span:nth-child(3) {bottom: 1rem;transform: rotateZ(45deg); right:0;}

.side {
	z-index:500;
	height: 100vh;
	width: 66.7%;
	position: fixed;
	background: #FFF;
	top: 0; right:-100%;
	transition:all 0.8s ease-in-out;
}
.is_active .side {right: 0;box-shadow: 0 0 11rem rgb(0 0 0 / 50%);}
.side_menu_Btn.fix {
	position: absolute;
	right: 2.1rem;
	top: 2.1rem;
	width: 2.2rem;
	height: 2.2rem;
}
.side_cont_inner {
	width: 100%;
	height: 100%;
	padding: 7.8rem 2rem 0;
}
.container #ac {padding-top: 2rem;}
p.menu01_h {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0.02em;
	text-align: left;
	color: #111;
}
li.menu01 {padding: 1.5rem 0;}
li.menu01:last-child {border-bottom:none;}

.side_menu_BG.showBg { display:none; z-index: 490;opacity: 1;top:0;}

@media (max-width:991px) {
	.header_inner {padding:2rem;}
	header.change {background: #fff;}
	.gnb {display:none;}
	.side_menu_Btn {
		display: block;
		height: 1.6rem;
		right: 0;
		width: 2rem;
		position: relative;
		top: 0;
	}
	.side_menu_Btn, .side_cont_wrap {display:block; margin-left:2rem;}
	.side_menu_BG.showBg {
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background: rgb(0 0 0 / 70%);
	}
	.loginArea ul li.free {color: #FFF; padding: 0.5rem 2rem; background: #00C389; border-radius: 0.6rem;}
}
@media (max-width:767px) {
	.header_inner {padding:1.4rem 2rem;}
	.logo {height:1.8rem;}
	.side_cont_inner {width: 100%; height: 100%; padding: 2rem 2rem 0;}
	.loginArea ul li {font-size: 1.4rem; line-height: 3.6rem;}
	.loginArea ul li.free {
		padding: 1rem 1.3rem;
		border-radius: 0.6rem;
		font-size: 1.3rem;
		line-height: 1.6rem;
	}
}
/* +++ // ~ 모바일 메뉴 END +++ */
/* ::::::::: // header END ::::::::: */

/* ::::::::: Footer START ~ ::::::::: */
footer {background: #F6F6F6;}
.footerInner {width: 100%; margin: 0 auto; max-width: 144rem; padding: 10rem 2rem; display: flex;}
.footerBox {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-start;
}

.footerBox.left {width: 57.65%; margin-right:3rem;}
.footerBox.left {width: 57.65%;}

.pp_ul {display:flex;}

.pp_ul li {
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 2.6rem;
	margin-right: 5rem;
}
.pp_ul li:hover {font-weight: 700; text-decoration:underline;}
.pp_ul a:first-child li {margin-left:0;}
.pp_ul a:last-child li {margin-right:0;}
.f_logo {width:11.5rem; height:2.4rem; margin-bottom:2rem;}
.f_logo img {width:100%; height:auto;}

.footerBox .notice_ul li {list-style: none; display: flex; padding-bottom:0.8rem; }
.footerBox .notice_ul li:last-child {padding-bottom:0;}

.footerBox .notice_ul li p {font-size: 1.5rem; line-height: 2.6rem; font-weight: 500; }
.footerBox .notice_ul li p.ul_title {font-weight: 600; width: 12.6rem; margin-right:4rem;}

.footerBotm {border-top: 1px solid #222; padding-top: 2rem; font-size: 1.5rem;}
.copy {
	font-family: Outfit, sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2.6rem;
	letter-spacing: 0.02em;
	text-align: left;
}

@media (max-width:991px) {
	.footerInner {flex-direction: column-reverse; padding: 4rem 2rem;}
	.footerBox {padding: 2.5rem 0 0 0; border-top: unset; flex-direction:column;}
	.footerBox.left {width: 100%; padding-top:0;}
	ul.pp_ul.mo_only {
		display: flex!important;
	}
	.footerBox .notice_ul li {
		list-style: none;
		flex-direction: column;
		padding-bottom: 2rem;
		width: 49%;
		display: inline-flex;
	}
	.footerBox .notice_ul li.width100 {width:100%;}
	.footerBox .notice_ul li p {font-size: 1.3rem; line-height: 1.6rem; padding-left: 0; padding-bottom:0.6rem;}
	.footerBox .notice_ul li p:last-child {padding-bottom:0;}
	.footerBox .notice_ul li p::before {display:none;}
	.f_logo {width: 15rem; height: auto; margin-top: 2rem; max-width:9.6rem; margin-bottom:1rem;}

	.pp_ul li {font-size: 1.5rem; line-height: 2.6rem; margin: 0 1.5rem;}
}

@media (max-width:767px) {
	.copy {font-size:1rem;}
}
 /*::::::::: // ~ Footer END :::::::::*/