@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;700&display=swap');
/* +++ Main START ~ +++ */

/* ::::::::: ============== Main V Start ~ ============== ::::::::: */.

/* 메인 비주얼 ~ */
.re_hid {overflow:hidden;}
.mainWrap {width:100%; height:auto; position:relative;}
.mainInner {width:100%; max-width:144rem; padding:0 2rem; margin:0 auto;}

#main_v {width:100%; height:250vh; position:relative; background:#f1fff2;}
#main_v .mainInner {width: 100%; max-width: inherit; padding: 0 0 0 2rem; margin: 0 auto; height: 100%; display: flex; flex-direction: column;}

.stickyBox {top: 0; width: 100%; height: 100vh; display: flex; position: sticky; align-items: center; overflow:hidden; justify-content: space-between;}
.stickyInner {justify-content: flex-end; align-items: center; overflow: hidden; height: 100%; display: flex; width: 100%;}

.main_NumBox {display:flex; margin-bottom: 2rem;}
.main_Num {font-family: 'Outfit', sans-serif; font-size: 2.4rem; font-weight: 700; line-height: 3.4rem; text-align: left; opacity:0.3; color:#00C389; padding-right:3rem;}
.main_Num:last-child {padding-right:none;}
.main_Num.here {opacity:1;} 

#main_v .mv_title {font-size: 6.4rem; font-weight: 700; line-height: 8.6rem;}
.mv_titleBox {position: relative; margin-left: 0; position: absolute; position: absolute; left: 50%; width: 100%; max-width: 144rem; padding: 0 2rem; margin: 0 auto; transform: translateX(-50%);}
.mv_title {overflow:hidden;}

h1.text1 {position: relative; opacity:1; transition:none;}
.text1 .mv_title p  { transition:all 0.6s ease-in-out;}
.text1.hidn .mv_title p {transform: translateY(100%);}
.hidn .mv_title.line_1 {opacity:0; }

.text2 {top: 0; left: 0; display: inline-block; position: absolute; min-width: 82.7rem; opacity:0; transition:none;}
.text2 .mv_title p {transform: translateY(100%); transition:all 0.6s ease-in-out;}
.text2.show .mv_title p {transform: translateY(0%); opacity:1;}
.text2.show {opacity:1;}

.slideWrap {height: 80%; width: 51.57%; right: -110px; position: absolute; max-height: 65.6rem;}
.slide {height:100%; position:relative; padding-bottom:0;}
.blackBox {width:100%; height:100%; background:#222; position: relative; transition:all 0.6s ease-in-out; filter: drop-shadow(8rem 5rem 15rem rgba(25, 58, 48, 0.25));}
.blackBox01 {z-index: 1; background:url(/kokonut/website/public/img/main/b_mainV01.png) no-repeat left / contain;}
.blackBox02 {transform: translateX(20%); background: url(/kokonut/website/public/img/main/b_mainV02.jpg) no-repeat left / contain;}
.blackBox.blackBox01.down {transform: translate(11%,15%);z-index: -1; }
.blackBox.blackBox02 {transform: translate(0%,-100%);}
.blackBox.blackBox02.down {transform: translate(10%,-89%);}


/*/스크롤/*/
.scrollDown {bottom: 0; left: 50%; overflow: hidden; position: absolute; transform: translateX(-50%); height: 8.2rem; z-index:1;}
.scrollDown p {font-family: "Outfit"; font-size: 1.4rem; font-weight: 600; line-height: 1.6rem ; letter-spacing: 0.05em; text-align: center;}

.scrollstick {
    height: 7rem;
    width: 0.4rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    position: relative;
	border-radius: 99px 99px 0 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #D0F0E7 0%, #D0F0E7 83.54%);
}
.scrollstick::before {
    content: '';
    width: 0.4rem;
    height: 1.6rem;
    left: calc(50% - 4px/2);	
    background: #00C389;
	border-radius: 9.9rem;
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%,-50%);
	animation: scroll 3s infinite;
	transition:none;
}
@keyframes scroll {
  from {top:0%;}
  to {top:12rem;}
}

@media (min-width:2000px) {.slideImgBox {width:100%; height:auto;}}
@media (max-width:1450px) {.slideWrap {height: 62%; width: 43.721%; position: relative; max-height: 65.6rem;}}
@media (max-width:991px) {
	#main_v {height:280vh;}
	#main_v .mainInner {width: 100%; padding:0; height: 100%; display: flex; margin: 0 auto; max-width: inherit; flex-direction: column;}
	
	.stickyInner {width: 100%; height: 100%; display: flex; overflow: hidden; justify-content: flex-start; align-items: flex-start; flex-direction: column; padding: 11rem 2rem 0;}
	.main_NumBox {margin-bottom:1rem;}
	.main_Num {padding-right: 1.6rem; font-size: 1.4rem; line-height: 1.8rem;}
	
	.text2 {width: 100%; min-width: inherit;}
	#main_v .mv_title {font-size: 2.8rem; line-height: 3.8rem;}
	.mv_titleBox {margin-left: 0; width: 100%; position: relative; padding:0 1rem;}
	
	.slideWrap {height: 50.63%; width: 124.48%; margin-top: 4rem; margin-left: 1rem; right:0;}
	.slide {filter: drop-shadow(34px 22px 50px rgba(25, 58, 48, 0.25));}
	.blackBox {filter:none;}
	.blackBox01, .blackBox02 {background-size:contain;}
	.blackBox.blackBox02.down {transform: translate(12%,-89%);}
	.blackBox.blackBox02 {transform: translate(0%,-100%);}
	.blackBox.blackBox01.down {transform: translate(12%,11%);}
}
/* // ~ 메인 비주얼 */
/* :::::::::============== // ~ Main V END ==============::::::::: */


/* ::::::::: ==============  개인정보보호법을 정확히 지키려면 ==============::::::::: */
.sTitle {font-size: 2.8rem; font-weight: 500; line-height: 4rem; margin-bottom:2rem;}
.bTitle {font-size: 5.4rem; font-weight: 700; line-height: 6.8rem;}
.sc02_Cont {margin-top:7.2rem;}

#intro .mainInner {padding:12rem 2rem; max-width:140rem;}
#intro .introStitle {font-size: 2.8rem; font-weight: 500; line-height: 4rem; margin-bottom:2rem;}
#intro .introTitle {font-weight: 700; font-size: 5.4rem; line-height: 6.8rem;}

.introCBox {display: flex; width: 80.883%; margin:7.2rem auto 0; justify-content: space-between;}
.introBox{border-radius: 20px; width: calc(50% - 2rem);}
.introBox.Intromanager {background: #ECF6F1; padding:5rem;}
.IntroTechnical {background:#E9EAF9; padding: 5rem;}
.introBox img {width:100%; height:auto;}
.introBox ul {width: 100%; display: flex; margin-top: 5rem; flex-direction: column;}
.introBox ul li {
    width: 100%;
    background: #fff;
    position: relative;
    border-radius: 99px;
    margin-bottom: 1rem;
    padding: 1.4rem 2.4rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.introBox ul li:last-child {margin-bottom:0;}
.introBox ul li figure {width:3.2rem; height:3.2rem;}
.introBox ul li figure img {width:100%; height:auto;}
.introBox ul li p.introBTxt {font-size: 2rem; font-weight: 500; margin-left:1rem; line-height: 2.6rem;}

#intro .title {font-family: 'Outfit'; font-size: 2rem; font-weight: 400; line-height: 2.2rem; letter-spacing: 0.03em;}
#intro .title span {font-weight:600;}
#intro .ktitle {font-size: 3.6rem; font-weight: 700; line-height: 4rem; margin-top:2rem;}

.introBoxTitle {font-family: 'Outfit'; font-size: 2rem; font-weight: 400;line-height: 2.2rem; letter-spacing: 0.03em;}
.introBoxTitle span {font-weight:600;}
.InBoxTitle	{font-size: 3.6rem; font-weight: 700; line-height: 4rem; margin-top:2rem;}

@media (max-width:991px) {
	#intro .mainInner {padding:6rem 2rem;}
	.introCBox {width: 100%; flex-direction: column; margin-top:5rem;}
	.introBox {width: 100%;}
	.introBox:first-child {margin-bottom:2rem;}
	.introBox.Intromanager {background: #ECF6F1; padding: 2.4rem 2rem;}
	.introBox.IntroTechnical {padding: 3rem 2rem;}
	.introBox ul {margin-top:3rem;}
	.introBox ul li {padding:1.2rem 2rem;}
	.introBox ul li figure {width: 2rem; height: 2rem;}
	.introBox ul li p.introBTxt {font-size:1.5rem; line-height:2rem;}
	
	.InBoxTitle {font-size:2rem; line-height: 2.4rem; margin-top: 1rem;}
	
	#intro .introStitle {font-size: 1.8rem; line-height: 3rem; margin-bottom: 1rem;}
	#intro .introTitle {font-size:3.4rem; line-height:4.8rem;}
}

@media (max-width:767px) {
	.introCBox {margin-top:3rem;}
	.introBox:first-child {margin-bottom: 1rem;}
	.introBoxTitle {font-size: 1.3rem; line-height: 1.6rem; letter-spacing: 0.03em;}
	
	#intro .introStitle {margin-bottom: 0.8rem; font-size: 1.4rem; line-height: 1.8rem;}
	#intro .introTitle {font-size: 2.2rem; line-height: 3rem;}
	.introBox ul {margin-top: 1.6rem;}
	.introBox ul li {padding: 1rem; margin-bottom: 0.6rem;}
}
/* ::::::::: ==============  // ~ 모두 준수해야합니다  ==============::::::::: */


/* ::::::::: ==============  코코넛은 가능합니다 ~ ==============::::::::: */
#koko_sure .koko_change {transition: background-color 1s ease;}
#koko_sure .koko_change .add {display: flex; min-height: 90vh; align-items: center; justify-content: space-around;}
#koko_sure .koko_change .add:last-child {height:100vh;}
#koko_sure .techTitleBox {
    position: sticky;
    top: 0;
    width: 100%;
	height: 100vh;
    text-align: left;
    overflow: hidden;
    max-width: 142rem;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
	max-height: inherit;
    box-sizing: border-box;
}
#koko_sure .Title {
	bottom: 50%;
	width: 100%;
    display: flex;
	margin-top: 0;
	position: absolute;
	align-items: center;
	transition: all 0.4s;
	transform: translateY(50%);
    justify-content: space-between;
}
#koko_sure .TitleLogo {display: flex;}
#koko_sure .hid_02 {width: 25.9rem; height: auto;}
#koko_sure .hid_02 img {width: auto; height: auto;}
#koko_sure .hid_02.line {width: 41.2%;margin: 0 5rem;position:relative;box-sizing: border-box;}
#koko_sure .hid_02.line::before {top:50%; content:''; width:100%; height:1px; background:#222; position:absolute; transform:translateY(-50%);}
#koko_sure .secen-secend .hid_02,
#koko_sure .secen-thrid .hid_02 {opacity:0; transition: all 0.4s ease-in-out; height:auto;}
#koko_sure .managerstitle {color: #fff; margin-top: 0; font-weight: 400; font-size: 2.4rem; line-height: 3.2rem;}
#koko_sure .managerstitle {color:#222; font-weight: 500; font-size: 5.4rem; line-height: 6.8rem; transition: all 0.3s ease-in-out;}
#koko_sure .secen-secend .techTitleBox, #koko_sure .secen-thrid .techTitleBox {
	top: 0;
    position: sticky;
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-width: 142rem;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#koko_sure .secen-secend .Title, #koko_sure .secen-thrid .Title {top: 0; position: relative; transform: unset;
	width: 100%;
	display: flex;
    margin-top: 0;
    bottom: unset;
    transform: unset;
    position: relative;
    align-items: center;
	justify-content: space-between;
}
#koko_sure .secen-secend .managerstitle, .secen-thrid .managerstitle {margin-top:0;}
.koko_textBox01, .koko_textBox02 {opacity:0; transition:none;}
#koko_sure .lock, #koko_sure .lock02 {color:#222; font-size: 10rem; font-weight: 800; line-height: 12rem; transform: translateY(100%); transition: all 0.6s ease-in-out;}
#koko_sure .secen-fisrt .lock {transition: none;}
#koko_sure .secen-secend .lock {transform: translateY(0%); opacity:1;}
#koko_sure .secen-secend .koko_textBox01 {opacity:1;}
#koko_sure .colorchange.secen-secend {background:#737AEA;}
#koko_sure .colorchange.secen-green {background:#FFF!important;}
#koko_sure .koko_textBox {height:12rem; overflow:hidden; margin-top:5rem; position:relative;}
.lock02 {left: 0; top: 0; position: absolute; transform: translateY(100%)!important;}
#koko_sure .secen-thrid .lock02 {transform: translateY(0%)!important; opacity: 1;}
#koko_sure .secen-thrid .koko_textBox02 {opacity:1;}

.lock span, .lock02 span {color:#00C389; position:relative;}
.lock span::before {
    content: '';
	right: 19%;
    top: 6%;
    width: 30%;
    height: 51%;
    background: red;
    position: absolute;
    background: url(/kokonut/website/public/img/main/p_a.jpg) no-repeat center / contain;
}

.lock02 span::before {
    content: '';
    width: 32%;
    height: 54%;
    right: 15%;
    top: 18%;
	position: absolute;
    background: url(/kokonut/website/public/img/main/p_r.jpg) no-repeat center / contain;
}

@media (max-width:1500px) and (min-width:992px){
	#koko_sure .Title {width:94%;}
	#koko_sure .managerstitle {font-size:5rem; line-height:6rem;}
	#koko_sure .hid_02.line {width:30.2%;}
}
@media (max-width:991px) {
	#koko_sure .Title {flex-direction: column; align-items: flex-start; width:auto;}
	#koko_sure .managerstitle {font-size: 3.6rem; line-height: 4rem; margin-bottom: 4rem; width:auto; padding:0 2rem;}
	#koko_sure .secen-secend .Title, #koko_sure .secen-thrid .Title {align-items: flex-start; padding:0;}
	#koko_sure .koko_textBox {margin-top:0; height:10rem;}
	#koko_sure .lock, #koko_sure .lock02 {font-size: 4.2rem; font-weight: 800; line-height: 5rem; padding: 0 2rem;}
	#koko_sure .hid_02.line {display:none;}
	#koko_sure figure.hid_02 {padding: 0 2rem;}
	#koko_sure .secen-secend .hid_02,
	#koko_sure .secen-thrid .hid_02 { height:0;}
	.lock span::before {width:31%; height:53%;}
	.lock02 span::before {width: 35%; height: 57%; right: 15%; top: 16%;}
}

@media (max-width:767px) {
	#koko_sure .managerstitle {font-size:2.6rem; line-height:3.4rem; margin-bottom:3rem;}
	#koko_sure .hid_02 {width: 14.4rem; height: 3rem;}
	#koko_sure .hid_02 img {width:100%; height:auto;}
}
/* ::::::::: ==============  // ~ 코코넛은 가능합니다  END ==============::::::::: */


/* ::::::::: ==============  관리적 보호조치  ==============::::::::: */
.ssticInner {height: 100%;}
#managerial {padding-bottom: 16rem;}
#managerial .sstic {position: sticky; width: 100%; height: 100vh; top: 0%; left: 0; transition:all 1s; background:#00C389;}
#managerial .mainInner {width:100%; max-width:144rem; padding:0 2rem; margin:0 auto; height:auto; position: relative;}
#managerial .s_Title {
    width: 100%;
    transition: all 1s;
    text-align: center;
    padding: 12rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
}
#managerial .s_Title::before {
    content: '';
	left: 0;
    width: 0%;
	bottom: 0;
    height: 1px;
    background: #222;
    position: absolute;
    transition: all 1s ease-in-out;
}
#managerial .s_TitleBox {position:relative;}
#managerial .imgBox {width: 74rem; height: 50rem;}
#managerial .imgBox img {width: 100%; height: auto; border-radius: 15.4167px;}
#managerial .up .imgBox {display:none;}
.m_ContBox {opacity: 0; transition: none;}
.m_ContBox.show {opacity: 1;transition: all 1s ease-in-out;}
#managerial .section {min-height: 30vh;}
#managerial .up .s_Title {
    left: 0;
	top: 0rem;
    height: auto;
    display: flex;
	position: relative;
	align-items: center;
	padding: 9rem 2rem 5rem;
    justify-content: flex-start;
}
#managerial .up .s_Title::before {width:100%;}
#managerial .s_Title p {font-size: 10rem; font-weight: 700; line-height: 10rem;}
#managerial .s_Title p.greenTxt {font-family: "Outfit"; font-size: 3.8rem; font-weight: 200; text-align: left; line-height: 4.2rem; letter-spacing: 0em; margin-bottom: 3rem; transition: all 0.4s;}
#managerial.titleUp .s_Title p.boldTxt span {color:#00C389;}
#managerial .s_Title p.greenTxt span {color:#222; font-weight: 600;}
#managerial .s_Title p.boldTxt {font-size: 8rem; font-weight: 700; line-height: 10rem;}
#managerial .s_Title p.boldTxt span {font-weight:700; color:#fff;}
#managerial .up .s_Title p.greenTxt {font-size: 1.8rem; line-height: 2rem; margin-bottom:1.4rem;}
#managerial .up .s_Title p.boldTxt {font-size: 4.4rem; line-height: 5.2rem;}

.m_ContBox {width:100%; height:auto; padding:50rem 2rem 10rem;}
.m_ContBox.show {width:100%; height:auto; padding:5rem 2rem 10rem;}
.mInner {width:100%; max-width:144rem; margin:0 auto; position:relative;}

.mContGreen {color:#00C389; font-size: 2rem; font-weight: 700; line-height: 3rem; margin-bottom:2rem;}
.mContTitle {font-weight: 700; font-size: 3.6rem; line-height: 5rem; position:relative; word-break:keep-all;}
.m_ContBoxCont {display: flex; margin-top: 6rem; justify-content: space-between;}
.m_ContImgBox {
    height: 0;
    width: 100%;
    padding-bottom: 38.8%;
    background: #ECF6F1;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    max-width: 73.6%;
    margin-right: 3rem;
    box-sizing: border-box;
    max-width: 103.6rem;
}
#ma .m_ContImgBox::before {
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
}
#mb .m_ContImgBox {padding-bottom: 33.715%;}
#mb .m_ConttxtBox ul li {padding:3rem;}
#mb .m_ContImgBox {background: #00C389;}
#mc .m_ContImgBox {border-bottom:1px solid #EEE;}
#md .mInner {padding-top: 10rem;}
#md .m_ContImgBox {border: 1px solid #EEEEEE;}

.ml3 {
	width:100%;
	font-family: Pretendard;
	font-size: 6rem;
	font-weight: 700;
	line-height: 8rem;
	text-align: center;
    color: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
p.letters {font-family: Pretendard; font-size: 6rem; font-weight: 700; line-height: 8rem; text-align: center;}
.m_ContImgBox img {width: 100%; height: auto; position:relative; vertical-align: bottom; } 
.mContsTxt {font-size: 2.2rem; font-weight: 400; line-height: 3.2rem; margin-top: 2rem; word-break: keep-all;}

.m_ConttxtBox {width: 24.3%; position:relative; word-break: keep-all;}
.m_ConttxtBox ul li {display:flex; background:#F6F6F6; border-radius:2rem; margin-bottom:1.8rem; padding:3rem 3rem 3.7rem; flex-direction: column;}
.m_ConttxtBox ul li:last-child {margin-bottom:0;}
.m_ConttxtBox ul li .gnum {font-family: 'Outfit'; font-size: 2.4rem; font-weight: 700; line-height: 3.4rem; margin-bottom: 1.2rem; color:#00C389;}
.m_ConttxtBox ul li .gTxt {word-break: keep-all; font-size: 1.8rem; font-weight: 400; line-height: 3rem;}
.m_ConttxtBox ul li .gsTxt {color: #888; font-weight: 400; font-size: 1.4rem; line-height: 1.6rem; padding-top: 1.2rem;}

#managerial.titleUp .s_Title p.greenTxt {font-size: 1.8rem; line-height: 2.4rem; margin-bottom: 1.4rem;}
#managerial.titleUp .sstic {height: 18.2rem; background: #Fff; z-index: 2;}
#managerial.titleUp .s_Title p.boldTxt {font-size: 4rem; line-height: 4.4rem;}
#managerial.titleUp .s_Title {
	top: 0;
	left: 0;
	top: 0rem;
	height: auto;
    display: flex;
	position: sticky;
	align-items: center;
    padding: 6rem 2rem 4rem;
    justify-content: flex-start;
}
#managerial.titleUp  .imgBox {display:none;}
#managerial.titleUp .s_Title::before {width: 100%; left: 0rem;}
#managerial.titleUp  .m_ContBox {opacity:1; width: 100%; height: auto; padding: 2rem 2rem 10rem;}
#managerial .sc_cont_area {margin-top: 5rem;}



/* ma - 수집 관리 */
.m_ContImgBox figure {position: absolute; border-radius: 20px; box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1); transition: all 0.4s ease-in-out;}
#ma .m_ContImgBox figure { opacity:unset;}
#ma .m_ContImgBox .ma_figure01 {width: 69.88%; left:2rem; top:6rem;}
#ma .m_ContImgBox .ma_figure02 {width: 63.332%; right: -14rem; top: 3rem;}

/* mb - 파기 */
#md .m_ContImgBox .md_figure01 {width: 100%;}
#md .m_ContImgBox .md_figure02 {top: 4.2rem; height: auto; width: 50%; right: 4.1rem; transform: scale(1);}

/* smoke */
.center {top: 50%; left: 50%; position: absolute; transform: translate(-50%, -50%);}
.center ul {margin: 0; padding: 0; display: flex; flex-direction: column;}
.center ul li {
	color: #FFF;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	line-height: 5.6rem;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.center ul li:nth-child(1) {animation-name: line01;}
.center ul li:nth-child(2) {animation-name: line02;}
.center ul li:nth-child(3) {animation-name: line03;}
.center ul li:nth-child(4) {animation-name: line04;}

@keyframes line01 {
    0% {opacity: 1;}
	20% {opacity: 1; filter: blur(0px); transform: translateY(0px) translateX(0);}
    80% {opacity: 0; filter: blur(30px); transform: translateY(-80px) translateX(250px);}
	100% {opacity: 0;}
}

@keyframes line02 {
    0% {opacity: 1;}
	25% {opacity: 1; filter: blur(0px); transform: translateY(0px) translateX(0);}
    85% {opacity: 0; filter: blur(30px); transform: translateY(-80px) translateX(240px);}
	100% {opacity: 0;}
}

@keyframes line03 {
    0% {opacity: 1;}
	30% {opacity: 1; filter: blur(0px); transform: translateY(0px) translateX(0);}
    90% {opacity: 0; filter: blur(30px); transform: translateY(-80px) translateX(230px);}
	100% {opacity: 0;}
}

@keyframes line04 {
    0% {opacity: 1;}
	35% {opacity: 1; filter: blur(0px); transform: translateY(0px) translateX(0);}
    100% {opacity: 0; filter: blur(30px); transform: translateY(-80px) translateX(220px);}
}


/* mc - 제공관리 */
#mc .koko_change .m_ContImgBox figure {opacity:0!important; z-index:-1; transform: translateY(100%); transition: all 0.8s ease-in-out;}
#mc .koko_change .m_ContImgBox figure.mc_figure01,
#mc .koko_change.secen-three .m_ContImgBox .mc_figure01,
#mc .koko_change.secen-secend .m_ContImgBox .mc_figure01 {width: 100%; opacity: 1!important; transform: translateY(0%); display:block; z-index:1;}
#mc .koko_change.secen-three .m_ContImgBox .mc_figure02,
#mc .koko_change.secen-secend .m_ContImgBox .mc_figure02 {opacity:1!important; z-index:2; transform: translateY(0%);}
#mc .koko_change.secen-fisrt .m_ContImgBox figure.mc_figure03 {display:none!important;}
#mc .koko_change.secen-secend .m_ContImgBox figure.mc_figure03 {display:block;}
#mc .koko_change.secen-three .m_ContImgBox figure.mc_figure03 {opacity:1!important; z-index:3; transform: translateY(0%);}

/* 제공 관리 */
.ko_test .m_ContBoxCont {opacity:1;}
#koko_sure.ko_test .Title {
    bottom: 50%;
    width: 100%;
    display: flex;
    margin-top: 0;
    position: relative;
    align-items: unset;
    transition: all 0.8s;
    transform: unset;
    justify-content: space-between;
}
.ko_test .mInner {top: 14rem; position: sticky; padding-right: 2rem; padding-left: 2rem;}
.cont {width: 100%; display:flex; text-align: left; align-items: center; flex-direction: column;}
#tb .cont {
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auti;
    margin: auto 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    max-width: 50rem;
	transform: translate(-50%,-50%);
}

#container {
    width: 32%;
    word-break: keep-all;
    font-family: Pretendard;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    letter-spacing: 0em;
    text-align: center;
    min-width: 44.5rem;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

@media (min-width:2000px) {.ko_test .mInner {top:22rem;}}
@media (max-width:991px) {
	#container {
		font-family: Outfit;
		font-size: 3rem;
		font-weight: 700;
		line-height: 4.5rem;
		letter-spacing: 0em;
		text-align: center;
		min-width: unset;
		width: 54%;
		max-width: 38rem;
	}
	.ko_test .mInner {top: 7rem; padding:2.5rem 2rem;}
}

.text-change {
	color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
	word-break:keep-all;
	line-height: 5.6rem;
}

@media (max-width:767px) {
	#managerial {padding-bottom:0;}
	#tb .cont {max-width: 25rem;}
	#container {width: 73%; font-size: 2rem; font-weight: 700; line-height: 3rem; max-width: 24.4rem;}
	.text-change {font-size: 2.2rem; line-height: 3.4rem;}
}
@media (max-width:500px) {.text-change {font-size:2rem;}}


/* 관리적 보호조치 이미지*/
@media (max-width:1500px) and (min-width:992px) {
	.m_ConttxtBox {width: 34.3%;}
	.m_ConttxtBox ul li {padding:2rem;}
}
@media (max-width:991px) {
	#mc .m_ContImgBox {border-bottom:none;}
	#managerial .sc_cont_area {margin-top: 4rem;}
	.m_ContBoxCont {flex-direction: column; margin-top:3rem;}
	.m_ContImgBox {width: 100%; margin-bottom: 0rem; padding-bottom: 54%; max-width: inherit; margin-right:0;}
	#mb .m_ContImgBox {padding-bottom: 54%;}
	.m_ConttxtBox {width: 100%; margin-top:3rem;}
	#managerial .s_Title {flex-direction: column; display: flex; justify-content: center; padding-top:5rem;}
	#managerial .s_Title p.boldTxt {font-size: 5.2rem; line-height: 6rem; text-align: left;}
	
	#managerial.titleUp .sstic {height:13.8rem;}
	#managerial.titleUp .s_Title p.boldTxt {font-size:3rem; line-height:4rem; }
	#managerial.titleUp .s_Title {padding:3rem 2rem 3rem;}
	#managerial .imgBox {width:100%;}
	#managerial .s_TitleBox {width:100%;}
	#managerial .s_Title p.greenTxt {width:100%;font-size:2.8rem;}
	
	.m_ConttxtBox ul li {padding: 2rem 1.6rem; flex-direction: column; margin-bottom: 1rem;}
	.mContGreen {font-size: 3rem; line-height: 4rem; margin-bottom: 1.2rem; }
	.mContTitle {font-size: 2.3rem; line-height: 3.8rem; margin-bottom: 1.2rem;}
	.mContsTxt {font-size: 1.6rem; line-height: 3.2rem; margin-top:1rem;}
	
	.m_ConttxtBox ul li .gTxt {line-height:2.5rem; padding-left: 0; margin-top:0;}
	.m_ConttxtBox ul li .gnum {padding-left: 0; line-height: 2.4rem; padding-left: 0rem;}
	.m_ConttxtBox ul li .gnum::before {
		top: 0;
		content: '';
		height: 100%;
		width: 2.8rem;
		left: 0.65rem;
		position: absolute;
		border-radius: 99px;
		transform: translateX(-25%);
	}
	.m_ConttxtBox ul li .gsTxt {padding-left: 0; padding-top: 0.8rem; font-size: 1.3rem;}
	
	#ma .m_ContImgBox .ma_figure01 {top: 2rem;}
	#ma .m_ContImgBox .ma_figure02 {top: 1rem; right: -20%;}
	#mb .m_ConttxtBox ul li {padding:2rem 1.6rem;}
	.ml3 {font-size:3rem; line-height:6.1rem; width: 100%; padding: 4.85rem 4.3rem;}
	p.letters {font-size: 2.1rem; font-weight: 700; line-height: 3rem; text-align: center;}
	.center ul li {font-size: 3.4rem; font-weight: 700; line-height: 4.8rem;}
	#md .mInner {padding-top: 0rem;}
}

@media (max-width:767px) {
	#managerial.titleUp  .sstic {height: auto;}
	#managerial.titleUp .s_Title {align-items: flex-start; padding: 9rem 2rem 4rem;}
	#managerial.titleUp .s_Title {padding: 3rem 2rem 2rem;}
	#managerial .s_Title p.greenTxt {font-size: 1.8rem; line-height:2.2rem; margin-bottom: 1.4rem;}
	#managerial.titleUp .s_Title p.greenTxt {font-size: 1.2rem; line-height: 1.6rem; margin-bottom: 1rem;}
	#managerial.titleUp .s_Title p.boldTxt {font-size: 2.4rem; line-height: 3.4rem;}
	#managerial.titleUp .m_ContBox {padding:2.5rem 2rem;}
	
	.mContGreen {font-size: 1.5rem; line-height: 1.7rem; margin-bottom: 1rem;}
	.mContTitle {font-size: 2rem; line-height: 2.6rem; margin-bottom: 0rem;}
	.mContsTxt {font-size: 1.5rem; line-height: 2.2rem;}
	.m_ConttxtBox {margin-top:2rem;}
	.m_ConttxtBox ul li .gTxt {font-size: 1.5rem; line-height: 2.3rem;}
	.m_ConttxtBox ul li .gnum {font-size: 1.8rem; line-height: 2rem; position:relative;}
	
	.ml3 {font-size: 2.7rem; line-height: 3.4rem;}
	.center {width:80%;}
	.center ul li {font-size: 2rem; font-weight: 700; line-height: 3rem;}
}
/* ::::::::: ============== ~ 관리적 보호조치 END ==============::::::::: */


/* ::::::::: ============== 당연히 해야하지만 ~ ==============::::::::: */
.colorchange {transition: all 1.5s;}

#managerialGreen {background:#FFF;}
#managerialGreen .mainInner {width:100%; margin:0 auto; max-width:144rem; padding:16rem 2rem 0;}
.managertxt {
	font-family: 'Outfit';
	text-align:left;
	color:#00C389;
	font-size: 2rem;
	font-weight: 600;
	line-height: 3rem;
	margin-bottom:3rem;	
}
.managertitle {color:#222; font-size: 5rem; font-weight: 800; text-align:left; line-height: 6.4rem;}
.mgContGroup {
	opacity:1;
	width:100%;
    height: auto;
    display: flex;
	margin: 0 0 0 auto;
    padding: 14rem 0 0;
	position:relative;
	flex-direction: column;
	justify-content: space-between;
}
#managerialGreen .colorchange.color-green .mgContGroup{opacity: 1;}
.mgContBoxWrap {display: flex; flex-direction: column; width:100%; justify-content: flex-start;}
.mgContBoxWrap.two {display: flex; margin: 4rem 0 0; flex-direction: row; justify-content: space-between;}
.mgContBoxWrap.two .mgContBox {width:calc(100%/3 - 2.6666rem);}
.mgContBox {
    width: 100%;
    overflow: hidden;
    border-radius: 1.6rem;
    padding: 5rem 0 0 5rem;
    background: #ECF6F1;
	position:relative;
}
.mgContBox::before {
	top: 0;
	left: 0;
	z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
	box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.mgContBoxTitle {
	color:#333;
	text-align:left;
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 4.6rem;
	letter-spacing: -0.022em;
}
.mgContBoxtxt {
	word-break: keep-all;
	text-align:left;
    font-weight: 400;
	font-size: 2.2rem;
    line-height: 3.3rem;
    letter-spacing: -0.022em;
	padding-bottom: 3rem;
	margin-top:2rem;
}
.mgContImgBox {
    width: 100%;
    margin-top: 3rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 68.15%;
    border-radius: 1.6rem 0 0 0rem;
    height: 0;
    overflow: hidden;
	transition:none;
}

.mgContBoxWrap.two .mgContBox:nth-child(2n) .mgContImgBox img  {left: 0; top: -78%; width: 232%; position: absolute;}
.Imglong {width: 100%; height: 196.7rem; position: relative; transition: none;}
#managerialGreen .mgContImgBox .Imglong {transform: translateY(-32%); transition:none;}
.alret {position: absolute; z-index: 10;}
.alretGroup {
    position: absolute;
    width: 100%;
    min-width: 1350px;
    left: 0;
    height: 100%;
    z-index: 1;
    height: 0;
    top: 0;
    padding-bottom: 68.15%;
}

.alret01 {left: 4.5rem; top: 29.2rem;}
.alret02 {left: 33rem; top: 27.2rem;}
.alret03 {left: 67rem; top: 29rem;}
.alret04 {left: 18rem; top: 45rem;}
.alret05 {left: 17rem; top: 73rem;}

.mgContBoxWrap.two .mgContImgBox {height: 0; position: relative; padding-bottom: 71.8%;}
.mgContBoxWrap.two .mgContImgBox img {width: 100%; height: auto;}
.mgContBox.matg10:last-child {margin-top: 4rem; }
.h66 {padding-bottom: 134.7%;}

@media (max-width:1300px) {
	.alretGroup {min-width:unset;}
	.alret01 {left: 4.5rem; top: 49.2rem;}
	.alret02 {left: 40rem; top: 47.2rem;}
	.alret03 {left: 84rem; top: 49rem;}
	.alret04 {left: 22rem; top: 69rem;}
	.alret05 {display:none;}
}

@media (max-width:991px) {
	#managerialGreen .mainInner {padding:6rem 2rem;}
	.mgTitleBox {position: relative;}
	.mgContGroup {width:100%; flex-direction: column; padding:0; margin-top:5rem;}
	.mgContBoxWrap {width:100%;}
	.mgContBoxWrap:nth-child(1) {transform: unset;}
	.mgContBoxWrap.two .mgContBox {width: 100%;}
	.mgContBoxWrap.two {margin: 0; display: flex; flex-direction: column;}
	.managertitle {font-size: 4rem; font-weight: 800; line-height: 5.4rem;}
	#managerialGreen .colorchange.color-green .mgContGroup {margin-top: 4rem;}
	.mgContBox {padding: 3rem 0 0 3rem; margin-bottom: 5rem;}
	.mgContBoxWrap.two .mgContBox:last-child {margin-bottom: 0rem;}
	.mgContBox.matg10:last-child {margin-top:0;}
	.mgContBoxTitle {line-height: 3.3rem; letter-spacing: -0.022em; margin-bottom: 2rem; font-size: 2.5rem;}
	.mgContBoxtxt {font-size: 1.7rem; line-height: 2.3rem; letter-spacing: -0.022em; padding-bottom: 0; margin-top:1rem;}
	.mgContImgBox {padding-bottom: 81.6%; }
	.mgContImgBox:last-child {margin-top: 3rem;}
	.h66 {padding-bottom: 100%;}
	.mgContBoxWrap.two .mgContBox:nth-child(2n) .mgContImgBox img {left: 0; bottom: 0; width: 100%; top: inherit; position: absolute;}
	
	.alretGroup {padding-bottom: 81.6%;}
	.alret01 {left: 4.5rem; top: 29.2rem;}
	.alret02 {left: 33.5rem; top: 27.2rem;}
	.alret03 {left: 69rem; top: 28.8rem;}
	.alret04 {left: 17.5rem; top: 45rem;}
}

@media (max-width:767px) {
	.mgContBoxTitle {font-size: 2rem; font-weight: 700; line-height: 2.6rem; margin-bottom:1rem;}
	.mgContBoxtxt {font-size: 1.5rem; line-height: 2.2rem; padding-right: 2rem;}
	.managertxt {font-size: 1.5rem; font-weight: 600; line-height: 1.7rem; margin-bottom: 1.6rem;}
	#techBlue .managerstitle {line-height: 2.6rem; font-size: 1.8rem; margin-top: 2rem;}
	.managertitle {font-size: 2.6rem; line-height: 3.2rem;}
	#managerialGreen .mgContImgBox .Imglong {transform: translateY(0%); height:auto;}
	#managerialGreen .mgContImgBox .Imglong img {width:100%;}
	.alret {width:100px;}
	.alret img {width:100%; height:auto;}
	.alret01 {left: 6%; top: 23%;}
	.alret02 {left: 36%; top: 21%;}
	.alret03 {top: 22%; left: 74%;}
	.alret04 {left: 20%; top: 44%;}
	.alret05 {left: 20%; top: 81%; display:block;}
	.mgContBox {padding: 3rem 0 0 1.6rem; margin-bottom: 3rem;}
}


@media (max-width:550px) {
	.alret {width:60px;}
	.alret01 {left: 5%; top: 23%;}
	.alret02 {top: 21.5%;}
}
/* ::::::::: ============== // ~ 놓치기 쉬운 기본적인 관리 END ==============::::::::: */

/* ::::::::: ============== 기술적 보호조치 ~ START ==============::::::::: */
#technical {padding-bottom: 4rem; background:#737AEA;}
#technical .sstic {top: 0%; left: 0; width: 100%; height: 100vh; position: sticky; transition: all 1.2s;}
#technical.titleUp .sstic {z-index: 2; height: 18.2rem; background: #Fff;}
#technical.titleUp .h296 {height:1px;}

#technical .ssticInner {position: sticky; height: 100%; max-width: 144rem; margin: 0 auto; display: flex; justify-content: flex-start; align-items: center; padding: 6rem 2rem 4rem;}
#technical .mainInner {width:100%; max-width:144rem; padding:0 2rem; margin:0 auto; height:auto; position: relative; z-index:100;}
#technical .sc_cont_area {margin-top: 10rem;}
#technical .s_Title::before {
	left: 0;
	width: 0%;
    bottom: 0;
    content: '';
    height: 1px;
    background: #222;
    position: absolute;
    transition: all 1s ease-in-out;
}
#technical .s_TitleBox {z-index: 1;}
#technical .s_Title .imgBox {right: 2rem; z-index: 0; position: absolute; transition:all 0.8s;}
#technical .s_Title .imgBox img {width:100%; height:auto;}
#technical.titleUp .s_Title .imgBox {width:0; height:0;}
#technical .section {min-height:30vh;}
#technical .boldTxt span {color:#FFF;}
#technical.titleUp {background:#fff;}
#technical .s_Title p {font-size: 10rem; font-weight: 600; line-height: 10rem;}
#technical .s_Title p.greenTxt {font-size: 3.8rem; font-weight: 300; line-height: 4.2rem; margin-bottom: 3rem; text-align: left; font-family: 'Outfit'; transition: all 0.8s; color: #222;}
#technical.titleUp .s_Title p.greenTxt {font-size: 1.8rem; line-height: 2.4rem; margin-bottom: 1.4rem;}
#technical .s_TitleBox p.greenTxt span {color: #222; font-weight:600;}
#technical .s_Title p.boldTxt {font-size: 8rem; font-weight: 700; line-height: 10rem; text-align: left; transition:all 0.8s;}
#technical .s_Title p.boldTxt span {font-weight:700;}
#technical .mContpurple {font-family: Pretendard; font-size: 2rem; font-weight: 700; line-height: 3rem; color:#737AEA; margin-bottom: 2rem;}
#technical .section {width: 100%; height: auto; margin: 0 0 12rem 0;}
#technical  .m_ContBox {width: 100%; height: auto; padding: 0rem 2rem 0rem; transform: translateY(10rem); transition:all 0.8s ease-in-out;}

#technical.titleUp .s_Title p.boldTxt span {color:#737AEA;}
#technical.titleUp .s_Title p.boldTxt {font-size: 4rem; line-height: 4.6rem; font-weight: 700; transition: none;}
#technical.titleUp .s_Title::before {width:100%;}
#technical.showArea-show01 #ta .m_ContBox {opacity:1; transform: unset;}
#technical.showArea-show02 #tb .m_ContBox {opacity:1; transform: translateY(0rem);}
#technical.showArea-show03 #tc .m_ContBox {opacity:1; transform: translateY(0rem);}

.scrollsnap {width:100%; height:100%;}
.t_ContBoxCont {
    width: 100%;
	padding: 5rem;
    display: flex;
    margin-top: 6rem;
	position:relative;
    background: #E9EAF9;
    border-radius: 2rem;
	justify-content: space-between;
}

/* ta - 보안 */
#ta .t_ContBoxCont:before {
	top:0;
	left:0;
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	border-radius:2rem;
	box-sizing:border-box;
	border: 0.770833px solid rgba(0, 0, 0, 0.05);
}
.t_CB {width: calc(100% / 3 - 2.13333rem);}
.t_CBTxtBox {width:100%; padding:0 3rem; min-height: 19.8rem;}
.t_CBTitle {font-size: 3.2rem; font-weight: 700; line-height: 4.6rem; margin-bottom:2rem;}
.t_CBTxt {
	font-weight: 400;
	position:relative;
	font-size: 2.2rem;
	margin-bottom:1rem;
	line-height: 3.2rem;
	letter-spacing: -0.022em;
	padding: 0rem 0 0.6rem 2.6rem;
}
.t_CBTxt::before {
	left:0;
	top:50%;
	content:'';
	width:1.6rem;
	height:1.2rem;
	position:absolute;
	transform:translateY(-50%);
	background:url(../img/main/t_checkIcon.png) no-repeat center / cover;
}
li:last-child .t_CBTxt {padding-bottom:0;}
.t_CBImg {
    width: 100%;
    display: flex;
    height: 0;
    background: #fff;
    margin-top: 4rem;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    padding-bottom: 70.39%;
	position:relative;
}
.t_CBImg figure {width: 14rem; height: 14rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.t_CBImg figure img {width:100%; height:100%;}

/* tb - 암호화 */
#tb .t_ContBoxCont {padding-bottom: 0;}
#tb .t_CBTxt {
	padding:0;
	font-weight: 400;
	font-size: 2rem;
	line-height: 3.2rem;
	color:rgba(0,0,0,0.8);
	letter-spacing: -0.022em;
	margin-bottom:0;
}
#tb .t_CBTxt::before {display:none;}
#tb .t_CBTxtBox {min-height: 9.6rem; display: flex; align-items: flex-end;}
#tb .t_CBImg {border-radius:16px 16px 0 0;}
#technical .m_ContImgBox {background: #E9EAF9;}
#technical .m_ConttxtBox ul li .gnum {color: #737AEA;}

#technical #tb  #messenger {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
	width:38%;
	overflow:hidden;
}

#technical .four .m_ContImgBox {padding-bottom: 37.2%; max-width: inherit; width: 100%; position:relative;}
#technical .four .m_ContImgBox img {position:absolute; left:0; top:0;}
#tb .m_ContImgBox.cbcw100 {padding-bottom: 37.2%; background:#484EA9;}
#tb .mContTitle	{word-break: keep-all;}
.m_ContImgBox.cbcw100 {width:100%; max-width:inherit; margin-right:0;}

p.ac {color: #FFF; font-size: 4rem; font-weight: 700; line-height: 5.6rem; letter-spacing: 0em; text-align: center;}

@media (max-width:991px) {
	#technical {padding-bottom:5.5rem;}
	#technical .s_Title p.boldTxt {font-size: 5.2rem; line-height: 6rem;}
	#technical.titleUp  .sstic {height: 13.8rem;}
	#technical .ssticInner { padding:3rem 2rem 2rem;}
	
	#technical .s_TitleBox {width: 100%;}
	#technical.titleUp .s_Title p.boldTxt {font-size: 3rem; line-height: 4rem;}
	#technical .section {width:100%; min-height:auto; margin-bottom:0;}
	#technical .m_ContBox {padding: 0rem 2rem 6rem;}
	#technical .s_Title .imgBox {padding:0 2rem;}
	#technical .mContpurple {margin-bottom: 1rem; font-size: 1.5rem; font-weight: 700; line-height: 1.7rem;}
	#technical .t_CBTxt {font-size:1.8rem; margin-bottom:0;}
	
	#tb .t_ContBoxCont {padding-bottom: 2rem;}
	#tb .t_CBImg {border-radius:16px;}
	
	#technical .four .m_ContImgBox {padding-bottom: 67%;}
	
	.t_CBTitle {font-size: 2.5rem; line-height: 3.6rem; margin-bottom: 1rem;}
	.t_CBTxt::before {width:1.4rem;height:1rem;}
	
	#tb .m_ContImgBox.cbcw100 {padding-bottom: 54%; background: #484EA9;}
	
	#technical .sc_cont_area {margin-top: 4rem;}
	#technical #tb  #messenger {font-size: 2.7rem; font-weight: 700; line-height: 3.4rem;}
	
	p.ac {font-size: 2.4rem; line-height: 3rem;}
}

@media (max-width:767px) {
	#technical {padding-bottom:1rem;}
	#technical.titleUp  .sstic {height: 11rem;}
	#technical .s_Title p.greenTxt {font-size: 1.8rem; font-weight: 200; margin-bottom: 1.4rem; line-height: 2.2rem; text-align: left;}
	#technical.titleUp .s_Title p.greenTxt {font-size: 1.2rem; font-weight: 200; margin-bottom: 1rem; line-height: 1.6rem; text-align: left;}
	#technical.titleUp .s_Title p.boldTxt {font-size: 2.6rem; line-height: 3.4rem;}
	
	.t_CBTitle {font-size: 1.6rem; font-weight: 700; line-height: 2.6rem;}
	#technical .t_CBTxt {padding: 0; margin-top: 0; font-size: 1.4rem; line-height: 2rem; padding-left: 1.6rem; margin-bottom: 0.6rem;}
	.t_CBTxt::before {width: 1rem; height: 0.8rem;}
	
	#technical .four .m_ContImgBox {padding-bottom: 92.6%;}
	#technical .four .m_ContImgBox img {width: auto; height: 100%;}
	#technical #tb  #messenger {width:84%; overflow:hidden; max-width:29rem;}
}

/* ::::::::: ============== ~ 기술적 보호조치 END ==============::::::::: */


/* ::::::::: ============== 안전성을 공식적으로 ~ (파란 배경) START ==============::::::::: */
#techBlue .managertxt {color:#737AEA;}
#techBlue .mainInner {padding:16rem 2rem;}
#techBlue  .colorchange.color-green {background:#FFF!important;}
#techBlue .managerstitle {color:#222; margin-top:3rem; text-align:left; font-weight: 400; font-size: 2.4rem; line-height: 3.2rem;}

.techContGroup {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 14rem;
    max-width: 140rem;
    justify-content: center;
    padding: 8rem 0;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
	position:relative;
}

.techContGroup::before {
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-sizing:border-box;
	border-radius:20px;
}

.techContGroup .techContBox.w503 {width: 35.929%;}.techContGroup .techContBox.w503 {width: 24.5%;}

.techserImg {background: #fff; border-radius: 2rem;}
.techserImg img {width:100%; height:auto;}
.techserTxt {
	color:#333;
	text-align: left;
	font-weight: 700;
	margin-top: 2rem;
	font-size: 3.2rem;
	line-height: 4.6rem;
	letter-spacing: -0.022em;
	text-align: center;
}
@media (max-width:991px) {
	.t_ContBoxCont {width: 100%; margin-top:3rem; flex-direction: column;}
	.t_CB {width: 100%; margin-top: 0rem; margin-bottom: 4rem;}
	.t_CB:last-child {margin-bottom: 0;}
	.techContGroup { margin-top:5rem;}
	
	.t_ContBoxCont {padding:2rem 1.6rem;}
	.t_CBTxtBox {width: 100%; padding: 0 1rem; min-height: inherit;}
	#tb .t_CBTxtBox {min-height:inherit;}
	#tb .t_CBTxt {font-size: 1.6rem; line-height: 2.6rem;}
	
	.t_CBImg {margin-top:2rem; border-radius:16px; padding-bottom: 40.39%;}
	.t_CBImg figure {width:10rem; height:10rem;}
	.t_CBTxt {font-size: 1.6rem; line-height: 2.2rem; letter-spacing: -0.022em; padding: 0.6rem 0 0.6rem 2.5rem;}
	
	.techContGroup .techContBox {	padding: 2rem; border-radius: 2rem; margin-bottom: 2rem; width: calc(100% / 3 - 2.66666rem);}
	.techserTxt {color: #333; font-weight: 700; margin-top: 2rem; font-size: 2.2rem; line-height: 3.6rem; letter-spacing: -0.022em;}
	#techBlue .managerstitle {font-size: 1.5rem; line-height: 2.2rem; margin-top: 1.6rem;}
	.techContGroup {padding:4rem 0; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);}
	.techContGroup .techContBox.w503 {width: 60.9%; padding: 0; margin: 0;}
}
@media (max-width:767px) {
	.techContGroup .techContBox {width:100%;}
	.t_CBTxtBox {width: 100%; padding: 0; min-height: inherit;}
	#technical .s_Title p.boldTxt {font-size: 4.2rem; font-weight: 800; line-height: 5rem; transition: all 0.8s;}
	#techBlue .mainInner {padding: 6rem 2rem;}
	.techserTxt {font-size: 2rem; line-height: 2.8rem;}
	.t_CBImg {padding-bottom: 56.11%;}
	.t_CBImg figure {width:7rem; height:7rem;}
}
/* ::::::::: ============== // ~ 안전성을 공식적으로 (파란 배경) END ==============::::::::: */

/* ::::::::: ============== 보호에만 그치지 않는 (편의 기능) ~  START ==============::::::::: */
#funjs {background: #FFA927;}
#funjs.titleUp {background: #FFF; position:relative;}
#funjs .sstic {top: 0%; left: 0; width: 100%; height: 100vh; position: sticky; transition: all 1s;}

#funjs.titleUp  .sstic {z-index: 2; height: 18.2rem; background: #Fff;}
#funjs .ssticInner {top:0; position: sticky; height: 100%; max-width: 144rem; margin: 0 auto; display: flex; justify-content: flex-start; align-items: center; padding: 6rem 2rem 4rem;}
#funjs .mainInner {position: relative; max-width:144rem; padding:0 2rem; margin:0 auto; height:auto; z-index:100; width:100%;}
#funjs .s_Title::before {left: 0; bottom: 0; content: ''; width: 0%; height: 1px; background: #222; position: absolute; transition: all 1s ease-in-out;}
#funjs .sc_cont_area {opacity:0;}

#funjs .section {min-height:30vh;}
#funjs .boldTxt span {color:#737AEA;}
#funjs .s_TitleBox {z-index: 1;}

#funjs .s_Title p {font-size: 10rem; font-weight: 600; line-height: 10rem; }
#funjs .s_Title p.greenTxt {font-size: 3.8rem; font-weight: 300; line-height: 4.2rem; color:#FFF; margin-bottom:3rem; text-align: left; font-family: 'Pretendard'; color:#222;}
#funjs .s_TitleBox p.greenTxt span {color: #222; font-weight:600;}
#funjs .s_Title p.boldTxt {font-size: 8rem; font-weight: 700; line-height: 10rem; text-align: left;}
#funjs .s_Title p.boldTxt span {color:#FFF;}

#funjs .imgBox {right: 2rem; z-index: 0; position: absolute; transition: all 0.8s;}
#funjs.titleUp .imgBox {display:none;}
#funjs figure.imgBox img {width: 100%; height: auto;}

#funjs.titleUp .s_Title p.greenTxt {font-weight: 300; font-size: 1.8rem; line-height: 2.4rem; margin-bottom:1.4rem;}
#funjs .mContpurple {font-family: Pretendard; font-size: 2rem; font-weight: 700; line-height: 3rem; color:#FF9E0D; margin-bottom: 2rem;}
#funjs .section {width:100%; height:auto;}
#funjs .m_ContBox {opacity:1; width: 100%; height: auto; padding: 5rem 2rem 10rem; transition:all 0.8s ease-in-out;}

#funjs.titleUp .sc_cont_area {opacity:1;}
#funjs.titleUp  .s_Title p.boldTxt span {color:#FFA927;}
#funjs.titleUp .s_Title p.boldTxt {font-size: 4rem; line-height: 4.6rem; font-weight:700;}
#funjs.titleUp .s_Title::before {width:100%;}
#funjs.showArea-show03 #fc .m_ContBox {opacity:1; transform: translateY(0rem); padding-bottom:16rem;}
#funjs .f_ContBoxCont {
    background: #FCF4E9;
    padding-bottom: 55rem;
    border-radius: 20px;
    margin-top: 6rem;
    overflow: hidden;
    position: relative;
	border: 1px solid rgba(0, 0, 0, 0.05);
}
#funjs .f_ContBoxCont figure {position:absolute;}
#funjs .f_ContBoxCont figure img {width:100%; height:auto; vertical-align: bottom;}

/* fa -  API 제공 */
#funjs #fa .fa_figure01 {top: 6rem; left: 4rem; width: 86.6%; filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.1));}
#funjs #fa .fa_figure02 {top: 3rem; right: 0; width: 57.6%; filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.1));}
#funjs #fa img {border-radius:10px;}

/* fb -  외부 서비스 연동 */
#funjs #fb .fb_figure01 {top:6rem; left:4rem;}
#funjs #fb .fb_figure02 {right: 4rem; top: 4rem; filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.1)); border-radius: 10px 10px 0px 0px;}
#funjs #fb .fb_figure01 img {border-radius:10px;}

/* fb -  스마트한 외부 제공 */
#funjs #fc .fc_figure01 {left: 50%; transform: translateX(-50%); top: 4rem; width: 66%;}
#funjs #fc .fc_figure02 {left: 4rem; top: 7rem;}
#funjs #fc .fc_figure03 {right: 6rem; top: 13.2rem;}
#funjs #fc figure {box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1); border-radius:20px;}

@media (max-width:991px) {
	#funjs {transition:none;}
	#funjs .sstic {transition:none; transition:all 0.8s;}
	#funjs .ssticInner {padding: 3rem 2rem 2rem;}
	#funjs .section {min-height: auto;}
	#funjs .s_Title p.greenTxt {margin-bottom: 2rem; font-size: 2.8rem;}
	#funjs .s_Title p.boldTxt {font-size: 5.2rem; line-height: 6.5rem;}
	
	#funjs.titleUp  .sstic {height: 13.8rem;}
	#funjs.titleUp .s_Title p.boldTxt {font-size: 3rem; line-height: 4rem;}
	#funjs .s_Title {transition:none!important;}
	#funjs .s_Title p.boldTxt {font-size: 4rem; line-height: 5rem; transition:none;}
	#funjs .m_ContBox {padding:0rem 2rem;}
	#funjs.showArea-show03 #fc .m_ContBox {padding-bottom:8rem;}
	
	#funjs .mContpurple {font-size: 1.5rem; line-height: 1.7rem; margin-bottom: 1rem;}
	#funjs .imgBox {right: 2rem; z-index: 0; width: 70%; height: auto; position: absolute; transition: all 0.8s;}
	#funjs .s_Title p.greenTxt {margin-bottom:2rem;}
	#funjs .mInner {padding-top: 6rem;}
	
	#funjs.titleUp .s_Title p.greenTxt {margin-bottom: 1rem; font-size: 1.8rem; line-height: 2.4rem; transition: none;}
	
	#funjs .mContTitle {margin-bottom:0;}
	#funjs .f_ContBoxCont {margin-top:3rem; padding-bottom: 139.105%;}
	
	/* fa */
	#funjs #fa .fa_figure01 {top: 2rem; left: 3rem; width: 178.6%;}
	#funjs #fa .fa_figure02 {top: unset; width: 103%; filter: drop-shadow(0px 0px 29.7333px rgba(0, 0, 0, 0.1)); bottom: 0; right: unset; left: 2rem;}
	
	/* fb */
	#funjs #fb .fb_figure01 {top: 2rem; left: 2rem; width: 139.41%;}
	#funjs #fb .fb_figure02 {top: 45%; left: 50%; right: unset; width: 75.54%; transform: translateX(-50%); border-radius: 10px 10px 0px 0px; filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.1));}
	
	/* fc */
	#funjs #fc .f_ContBoxCont {padding-bottom: 134.4%;}
	#funjs #fc .fc_figure01 {left: 2rem; top: 33%; width: 152.3%; transform: unset;}
	#funjs #fc .fc_figure02 {left: 50%; top: 2rem; transform: translateX(-50%); width: calc(100% - 4rem);}
	#funjs #fc .fc_figure03 {right: 2rem; top: 39%; width: 54.7%;}
	#funjs.titleUp .s_TitleBox br.mo_br {display: none!important;}
}


@media (max-width:767px) {
	#funjs.titleUp  .sstic {height: 11.2rem;}
	#funjs.titleUp .s_Title p.boldTxt {font-size: 2.4rem; line-height: 3.4rem;}	
	#funjs.showArea-show03 #fc .m_ContBox {padding-bottom:6rem;}
	#funjs.titleUp .s_Title p.greenTxt {margin-bottom: 1rem; font-size: 1.2rem; line-height: 1.6;}
}
/* // ~ 보호에만 그치지 않는 (편의 기능) END */


/* 공감하는 기업들 START ~ */
#p_company .mInner {
    width: 100%;
    margin: 0 auto;
	max-width: 144rem;
    position: relative;
    padding: 16rem 2rem 16rem;
}
.p_comTitle {font-size: 5rem;font-weight: 800; line-height: 6.4rem;}
.p_comTxt {margin-top:3rem; font-weight: 400; font-size: 2.6rem; line-height: 3.4rem; letter-spacing: 0em;}

.logoGroup {display: flex; flex-wrap: wrap; margin-top: 10rem; justify-content: space-between;}
.logoBox {height: 0; overflow: hidden; margin-top:2.4rem; border-radius:10px; padding-bottom: 13.143%; width: calc(100%/4 - 1.8rem);}
.logoBox img {width:100%; height:auto;}

.p_comStitle {color:#00C389; font-family: 'Outfit'; font-size: 2rem; font-weight: 600; line-height: 3rem; margin-bottom: 3rem;}

@media (max-width:991px) {
	#p_company .mInner {padding: 6rem 2rem 5.1rem;}
	.p_comTitle {font-size: 2.4rem; line-height: 3.2rem;}
	.p_comTxt {font-size:1.5rem; line-height:2.2rem; margin-top: 1.6rem;}
	.logoGroup {flex-wrap: wrap; margin-top: 5rem; justify-content: space-between;}
	.logoBox {margin: 0; border-radius: 8px; padding-bottom: 28.7%; margin-bottom: 0.9rem; width: calc(50% - 0.45rem);}
	.logoBottom {padding-top: 0rem;}
	#p_company.p_companyBtom {background:#fff;}
}
@media (max-width:767px) {
	.p_comStitle {font-size: 1.5rem; line-height: 1.7rem; margin-bottom: 1.6rem;}
	#p_company .p_comTitle {font-size:2.6rem;}
}

.consultBox {display: flex; padding: 6rem; margin-top: 4rem; background: #E0F7F0; border-radius: 12px; align-items: center; justify-content: space-between;}
.consultBox p {font-family: 'ONE-Mobile-Title'; font-size: 3rem; font-weight: 400; line-height: 4rem; display: inline-block;}

@media (max-width:991px) {
	.consultBox {padding:2rem; margin-top:1rem;}
	.consultBox p {font-size: 1.8rem; font-weight: 400; line-height: 3rem; text-align: center; padding:0;}
	.consultBtn {width: 100%; margin-top: 1rem; line-height: 2rem; background: #00C389; border-radius: 8px; text-align: center;}
	.consultBtn {color: #fff; padding:1.6rem 0;}
}

@media (max-width:767px) {
	.consultBtn {padding: 0.8rem 0; margin-top:1.5rem;}
	.consultBtn p {font-size:1.5rem;}
}

/* // ~ 공감하는 기업들 END */

/* ::::::::: ============== // ~ 강력한 편의성  END ==============::::::::: */

/* 패널 롤링 */
.colorchange {transition: all 1.5s; height: auto;}
.colorchange .panel {height: auto; text-align: center;}
.colorchange .textBox.s_Title {display: flex; position: relative; align-items: center; justify-content: center;}
.colorchange .text1 {font-size: 3.4rem; line-height: 4.8rem;}
.colorchange .s_Title span.hid_02 {height: 1px; width: 41.2%; margin: 0 5rem; box-sizing: border-box; border-top: 1px solid #111;}

.textBox.s_Title.panel.panel01 {position: sticky; top: 50%; transform: translateY(-50%);}
.colorchange .st02, .colorchange .st03 {font-size: 10rem; font-weight: 800; line-height: 12rem; transition: all 0.8s ease-in-out;}
.panel02, .panel03 {opacity:0;}
.panel02 {transform: translateY(112px);}
.textRolling {position: sticky; left: 0; width: 100%; top: 50%;}
.colorchange .panel02, .colorchange .panel03 {top: 50%; height: auto; display: flex; height: 300px; position: sticky; text-align: center; transform: translateY(-10%); justify-content: center; align-items: center;}
.color-active02 .textBox, .color-active03 .textBox {opacity:0; display:none; transform:translateY(-2rem); }
.textBox {opacity:1;}
.colorchange.color-active02 .panel02 {opacity:1; transform: translateY(-50%);}
.colorchange.color-active03 .panel03 {opacity:1; transform: translateY(-50%);}

@media (max-width:991px) {
	.colorchange .st02, .colorchange .st03 {font-size: 3rem; line-height: 4rem; transition: all 0.8s ease-in-out;}
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* == 스크롤 관련 css == */
#ma {height:200vh;}

#managerial .mInner {position: sticky; top: 16.5rem;}
#managerial #mc .mInner {top: 20.08rem;}

#technical .mInner {position: sticky; top: 16.5rem;}
#technical #ta {height:200vh;}
#technical #ta .mInner {top: 20rem;}

#funjs #fa {height:180vh;}
#funjs #fa .mInner {position: sticky; top: 16.5rem;}

@media (max-width:991px) {
	#technical #ta {height: 280vh;}
	#managerial .mInner {top:15rem;}
	#managerial #mc .mInner {top:14rem;}
	#managerial #md .mInner {top:14rem;}
	#mb, #md {height:auto;}
	#technical #ta .mInner {top: 16rem;}
	#technical #tb .mInner {top: 16rem;}
	#technical #tb, #technical #tc {height:auto;}
	#funjs .mInner {padding-top: 6rem;}
	#funjs #fa {height:200vh; transition:all 0.8s ease-in-out;}
	#funjs #fa .mInner {position: sticky; top: 9rem;}
	#funjs #fb, #funjs #fc {height:auto;}
}

@media (max-width:767px) {
	#managerial .mInner {top:11rem;}
	#managerial #mc .mInner {top:11rem;}
	#managerial #md .mInner {top:11rem;}
	
	#technical .mInner {top: 12.5rem;}
	#technical #ta {height: 270vh;}
	#technical #ta .mInner {top: 13rem;}
	#technical #tb .mInner {top: 13rem;}
	#technical #tc .mInner {top: 12.5rem;}
}



