
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.priceWrap {width:100%; height:auto;}
.priceTop {background:#F2FAF6;}
.priceInner {width:100%; max-width:98.4rem; margin:0 auto; padding:22rem 2rem 14rem;}

.pricTTileBox {text-align: center;}
.pr_gtitle {
	font-family: "Poppins";
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.6rem;
	letter-spacing: 0.1em;
	color:#00C389;
}
.pr_title {
	font-family: 'ONE-Mobile-Title';
	font-size: 4.2rem;
	font-weight: 400;
	line-height: 3rem;
	padding:3rem 0 2rem;
}
.pr_stxt {font-size: 2.6rem; font-weight: 400; line-height: 3.4rem;}
.pricTCont {width: 100%; display: flex; margin-top:10rem; justify-content: space-between;}
.pricTLeft, .pricTRight {
	background:#fff;
	padding:6rem 4rem;
	border-radius: 14px;
	width:calc(50% - 1.2rem);
	filter: drop-shadow(0px 0px 40px rgba(0, 195, 137, 0.1));
}
.pc_titleBox {display: flex; align-items: center; flex-direction: column;}
.gtype {font-family: "Poppins"; font-size: 2.4rem; font-weight: 700; line-height: 2.8rem; text-align: center; color:#00C389;}
.btype {font-size: 1.8rem; font-weight: 500; line-height: 2.2rem; text-align: center; margin-top:1rem;}
.pc_price {
	font-family: "Poppins";
	font-size: 6.2rem;
	font-weight: 700;
	line-height: 6.4rem;
	letter-spacing: 0em;
	text-align: center;
	margin:4rem 0 1.4rem;
}
.pc_pricefree {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: -0.02em;
	text-align: center;
	padding:1rem 2.4rem;
	background: #DEF7EB;
	border-radius: 99px;
    display: inline-block;
}
ul.cus_list {margin-top: 3.4rem;}
ul.cus_list li {
	position:relative;
	font-family: Pretendard;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.1rem;
	letter-spacing: -0.01em;
	text-align: left;
	color:#666;
	padding:1.6rem 0 1.6rem 2.9rem;
	border-bottom:1px solid #EEE;
}
ul.cus_list li:last-child {border-bottom:none;}
ul.cus_list li::before {
	content:'';
	left:0;
	top:50%;
	width:2.1rem;
	height:2.1rem;
	position:absolute;
	transform:translateY(-50%);
	background:url(../img/cus_check_circle.png) no-repeat center / cover;
}
.pricTRight .pc_price {
	font-family: "Pretendard";
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 4.1rem;
	text-align: center;
	position:relative;
}
.pricTRight .pc_price span {
	font-family: "Poppins";
	font-size: 6.2rem;
	font-weight: 700;
	line-height: 6.4rem;
	text-align: center;
	position:relative;
	padding-left:3.1rem;
}
.won {position: absolute; left: 0; top: 0;}
.worklist {background:#fff;}
.worklist .priceInner {width:100%; margin:0 auto; max-width:124rem; padding:10rem 2rem;}
.worklistGroup {border: 1px solid #EEEEEE; border-radius: 1.2rem; padding: 5rem 3rem; display: flex;}
.wlBox {width:calc(100%/3); padding:1rem 5.8rem; border-right:1px solid #EEEEEE;}
.wlBox:last-child {border-right:none;}
.wlBox .workTitle {
	font-size: 2.6rem;
	font-weight: 600;
	line-height: 3rem;
	letter-spacing: -0.01em;
	text-align: left;
	color:#000;
	margin-bottom:4rem;
}
.wlBox li {
	color: #666;
    position: relative;
	text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.1rem;
    letter-spacing: -0.01em;
	padding: 1.6rem 0 1.6rem 2.1rem;
	border-bottom: 1px solid #EEE;
}
.wlBox li::before {
	content:'';
	top:50%;
	left:0;
	width:1.3rem;
	height:1.1rem;
	position:absolute;
	transform:translateY(-50%);
	background:url(../img/green_check.png) no-repeat center / cover;
}
.wlBox li:last-child {border-bottom:none;}
.consultBox {
    padding: 6rem;
    margin-top: 4rem;
    background: #E0F7F0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.consultBox p {
	font-family: 'ONE-Mobile-Title';
	font-size: 3rem;
	font-weight: 400;
	line-height: 4rem;
	letter-spacing: 0em;
	text-align: left;
	display: inline-block;
}
.consultBtn p {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 2rem;
	letter-spacing: 0em;
	text-align: left;
	padding:2rem 2.4rem;
	background: #00C389;
	border-radius: 8px;
	display: inline-block;
	color:#fff;
}

@media (max-width:991px) {
	.pc_price {margin:2rem 0 2.4rem;}
}
@media (max-width:767px) {
	.pricTCont {margin-top: 4rem; flex-direction: column; justify-content: space-between;}
	.pr_title {font-size:3.2rem; padding:2rem 0 1rem;}
	.pr_stxt {font-size: 2rem;}
	.pricTLeft, .pricTRight {width:100%; padding:4rem;}
	.pricTLeft {margin-bottom:5rem;}
	.worklistGroup {flex-direction: column;}
	.wlBox {
		padding: 0;
		width: 100%;
		border-right: none;
		margin-bottom: 3rem;
		border-bottom: 1px solid #EEE;
		padding-bottom: 3rem;
	}
	.wlBox .workTitle {margin-bottom:1rem;}
	.wlBox:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding: 0;
	}
	.wlBox li {padding:1.2rem 0 1.2rem 2.1rem;}
	.consultBox {
		padding: 2rem;
		margin-top: 4rem;
		background: #E0F7F0;
		border-radius: 12px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
	}
	.consultBtn {margin-top: 2rem;}
	.priceInner {padding:9rem 2rem 6rem;}
	.consultBox p {font-size: 2rem;}
	.worklist .priceInner {padding:6rem 2rem;}
}